.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
}
:where(.root > *) {
  grid-column: 4;
}
.header {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 82px;
  max-width: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
}
.svg__h2UOo {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.freeBox__epZpJ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 82px;
  background: radial-gradient(
      ellipse 40% 60% at 5% 5%,
      #ccfffd 0%,
      #ffffff 100%
    )
    0% 0% / 100% 100% repeat;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 76px 0px;
}
.columns__lt9Xn {
  --plsmc-rc-col-gap: 0px;
}
.columns__lt9Xn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__lt9Xn > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__lt9Xn > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lt9Xn {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lt9Xn > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__z0Ulw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__z0Ulw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__z0Ulw > :global(.__wab_flex-container) > *,
.column__z0Ulw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__z0Ulw > :global(.__wab_flex-container) > picture > img,
.column__z0Ulw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.2;
  min-width: 0;
}
.text__bMsD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___4P50S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__rwAto {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 76px 0px;
}
.freeBox__rwAto > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__rwAto > :global(.__wab_flex-container) > *,
.freeBox__rwAto > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rwAto > :global(.__wab_flex-container) > picture > img,
.freeBox__rwAto
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.columns___3WXWp {
  --plsmc-rc-col-gap: 0px;
}
.columns___3WXWp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  flex-shrink: 1;
  flex-wrap: nowrap;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.columns___3WXWp > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___3WXWp > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3WXWp {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3WXWp > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__aFfj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__aFfj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__aFfj > :global(.__wab_flex-container) > *,
.column__aFfj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__aFfj > :global(.__wab_flex-container) > picture > img,
.column__aFfj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.2;
  min-width: 0;
}
.column__jyqV3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__mcfmz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.freeBox__mcfmz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__mcfmz > :global(.__wab_flex-container) > *,
.freeBox__mcfmz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mcfmz > :global(.__wab_flex-container) > picture > img,
.freeBox__mcfmz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.freeBox__prL8B {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__prL8B > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__prL8B > :global(.__wab_flex-container) > *,
.freeBox__prL8B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__prL8B > :global(.__wab_flex-container) > picture > img,
.freeBox__prL8B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__m9C1 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__m9C1 > picture > img {
  object-fit: contain;
}
.img__m9C1 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__daBbx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__daBbx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__daBbx > :global(.__wab_flex-container) > *,
.freeBox__daBbx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__daBbx > :global(.__wab_flex-container) > picture > img,
.freeBox__daBbx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__tlrvT {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text___3Ek5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__nzAnI {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__nzAnI > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__nzAnI > :global(.__wab_flex-container) > *,
.freeBox__nzAnI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nzAnI > :global(.__wab_flex-container) > picture > img,
.freeBox__nzAnI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img___2ApQs {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
}
.img___2ApQs > picture > img {
  object-fit: contain;
}
.img___2ApQs > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__p4Eoo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__p4Eoo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__p4Eoo > :global(.__wab_flex-container) > *,
.freeBox__p4Eoo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p4Eoo > :global(.__wab_flex-container) > picture > img,
.freeBox__p4Eoo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__bXUvN {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  padding-bottom: 0px;
  min-width: 0;
}
.text__oS4S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__oPlZb {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__oPlZb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__oPlZb > :global(.__wab_flex-container) > *,
.freeBox__oPlZb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oPlZb > :global(.__wab_flex-container) > picture > img,
.freeBox__oPlZb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__hzD7Y {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__hzD7Y > picture > img {
  object-fit: contain;
}
.img__hzD7Y > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__pvy8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__pvy8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__pvy8 > :global(.__wab_flex-container) > *,
.freeBox__pvy8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pvy8 > :global(.__wab_flex-container) > picture > img,
.freeBox__pvy8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__kvINo {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  padding-top: 0px;
  min-width: 0;
}
.text__ktGJj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__cKYrG {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__cKYrG > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__cKYrG > :global(.__wab_flex-container) > *,
.freeBox__cKYrG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cKYrG > :global(.__wab_flex-container) > picture > img,
.freeBox__cKYrG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__mxoFr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__mxoFr > picture > img {
  object-fit: cover;
}
.img__mxoFr > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__xVeXk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xVeXk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__xVeXk > :global(.__wab_flex-container) > *,
.freeBox__xVeXk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xVeXk > :global(.__wab_flex-container) > picture > img,
.freeBox__xVeXk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__rlplz {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  padding-top: 0px;
  min-width: 0;
}
.text___3EhAc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__qN6Wk {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__qN6Wk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__qN6Wk > :global(.__wab_flex-container) > *,
.freeBox__qN6Wk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qN6Wk > :global(.__wab_flex-container) > picture > img,
.freeBox__qN6Wk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__fpOoy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__fpOoy > picture > img {
  object-fit: cover;
}
.img__fpOoy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__sYSls {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__sYSls > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__sYSls > :global(.__wab_flex-container) > *,
.freeBox__sYSls > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sYSls > :global(.__wab_flex-container) > picture > img,
.freeBox__sYSls
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__y7V1M {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__cjBt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__iKvBb {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__iKvBb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__iKvBb > :global(.__wab_flex-container) > *,
.freeBox__iKvBb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iKvBb > :global(.__wab_flex-container) > picture > img,
.freeBox__iKvBb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__j9XGd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__j9XGd > picture > img {
  object-fit: cover;
}
.img__j9XGd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__guHp9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__guHp9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__guHp9 > :global(.__wab_flex-container) > *,
.freeBox__guHp9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__guHp9 > :global(.__wab_flex-container) > picture > img,
.freeBox__guHp9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5___7ZvQw {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__u7PGp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox___9ZzY {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox___9ZzY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___9ZzY > :global(.__wab_flex-container) > *,
.freeBox___9ZzY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9ZzY > :global(.__wab_flex-container) > picture > img,
.freeBox___9ZzY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__q0Him {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__q0Him > picture > img {
  object-fit: contain;
}
.img__q0Him > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox___6Jnx2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___6Jnx2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___6Jnx2 > :global(.__wab_flex-container) > *,
.freeBox___6Jnx2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Jnx2 > :global(.__wab_flex-container) > picture > img,
.freeBox___6Jnx2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__gpU6U {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__sC9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox___5RxJq {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox___5RxJq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___5RxJq > :global(.__wab_flex-container) > *,
.freeBox___5RxJq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5RxJq > :global(.__wab_flex-container) > picture > img,
.freeBox___5RxJq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__ah6C {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__ah6C > picture > img {
  object-fit: contain;
}
.img__ah6C > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__wTbkO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__wTbkO > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__wTbkO > :global(.__wab_flex-container) > *,
.freeBox__wTbkO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wTbkO > :global(.__wab_flex-container) > picture > img,
.freeBox__wTbkO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5___9Vo8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__pv7Pw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__yfz2F {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__yfz2F > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__yfz2F > :global(.__wab_flex-container) > *,
.freeBox__yfz2F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yfz2F > :global(.__wab_flex-container) > picture > img,
.freeBox__yfz2F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__ibPtk {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__ibPtk > picture > img {
  object-fit: contain;
}
.img__ibPtk > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__hQ1YA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__hQ1YA > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__hQ1YA > :global(.__wab_flex-container) > *,
.freeBox__hQ1YA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hQ1YA > :global(.__wab_flex-container) > picture > img,
.freeBox__hQ1YA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5___1GMrG {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__vGq4G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__bdbPd {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__bdbPd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__bdbPd > :global(.__wab_flex-container) > *,
.freeBox__bdbPd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bdbPd > :global(.__wab_flex-container) > picture > img,
.freeBox__bdbPd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__cDrkn {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__cDrkn > picture > img {
  object-fit: contain;
}
.img__cDrkn > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__wZCqA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__wZCqA > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__wZCqA > :global(.__wab_flex-container) > *,
.freeBox__wZCqA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wZCqA > :global(.__wab_flex-container) > picture > img,
.freeBox__wZCqA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__ofzUi {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__rKkYu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__tqZxH {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px;
}
.link__fRkG6 {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background: #ffffff;
  border-radius: 8px;
  padding: 16px;
}
.text___4Jqwn {
  position: relative;
}
.link___5B4Ij {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
}
.text__gsIrr {
  position: relative;
}
.link__bmMs {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background: #f9fafb;
  border-radius: 8px;
  padding: 16px;
}
.text___58Qo6 {
  position: relative;
}
.link__rcBNf {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
}
.text__yRlt6 {
  position: relative;
}
.link__cCvI {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
}
.text__dl7Rd {
  position: relative;
}
.link__wyUe5 {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
}
.text__l8HUc {
  position: relative;
}
.link___319Qq {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
}
.text___8XITp {
  position: relative;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #ffffff;
  grid-column-start: 1;
  grid-column-end: -1;
}
.footer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.footer > :global(.__wab_flex-container) > *,
.footer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footer > :global(.__wab_flex-container) > picture > img,
.footer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__nNdVq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.freeBox__nNdVq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__nNdVq > :global(.__wab_flex-container) > *,
.freeBox__nNdVq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nNdVq > :global(.__wab_flex-container) > picture > img,
.freeBox__nNdVq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__ob17N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  text-align: center;
  min-width: 0;
}
.text__eeaP5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  min-width: 0;
}
