.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.header {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  background: #ffffff;
  min-width: 0;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1280px;
  object-fit: cover;
  position: relative;
  padding: 16px;
}
.link___0UK4U {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__ny0Wy {
  object-fit: cover;
  height: 40px;
}
.img__ny0Wy > picture > img {
  object-fit: cover;
}
.img__ny0Wy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__yp4VX {
  object-fit: cover;
}
.img__yp4VX > picture > img {
  object-fit: cover;
}
.img__yp4VX > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__nQCpK {
  object-fit: cover;
}
.img__nQCpK > picture > img {
  object-fit: cover;
}
.img__nQCpK > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__epZxe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #16b3ac;
}
.link__mkVy2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #16b3ac;
}
.link__vlKCv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #16b3ac;
}
.hero {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  background: none;
  min-width: 0;
  padding: 72px 0px 0px;
}
.hero > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.hero > :global(.__wab_flex-container) > *,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.hero > :global(.__wab_flex-container) > picture > img,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.img___4N5Sd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___4N5Sd > picture > img {
  object-fit: cover;
}
.img___4N5Sd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___4N5Sd {
    height: 500px;
    object-position: right 50%;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___4N5Sd > picture > img {
    object-position: right 50%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___4N5Sd > :global(.__wab_img-spacer) > img {
    object-position: right 50%;
  }
}
.columns__paJd {
  display: flex;
  position: absolute;
  width: 1280px;
  height: 500px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  left: auto;
  top: 72px;
  padding: 24px 16px;
}
.columns__paJd > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__paJd > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__paJd {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 64px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__paJd > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___3HaNp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___3HaNp {
    display: none;
  }
}
.column__h3TZk {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__h3TZk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__h3TZk > :global(.__wab_flex-container) > *,
.column__h3TZk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__h3TZk > :global(.__wab_flex-container) > picture > img,
.column__h3TZk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2__jklqH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  min-width: 0;
}
.text__ln55V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  min-width: 0;
}
.h5__efIw5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
}
.about {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f7fcfd;
  min-width: 0;
  padding: 72px 0px;
}
.columns__xctZw {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1280px;
  min-width: 0;
}
.columns__xctZw > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.columns__xctZw > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 24px) * 6 / 12);
}
.columns__xctZw > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 24px) * 6 / 12);
}
.columns__xctZw > :global(.__wab_flex-container) > *,
.columns__xctZw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__xctZw > :global(.__wab_flex-container) > picture > img,
.columns__xctZw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xctZw {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xctZw > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xctZw > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 24px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xctZw > :global(.__wab_flex-container) > *,
  .columns__xctZw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__xctZw > :global(.__wab_flex-container) > picture > img,
  .columns__xctZw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
.column__lvHhf {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__lvHhf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__lvHhf > :global(.__wab_flex-container) > *,
.column__lvHhf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__lvHhf > :global(.__wab_flex-container) > picture > img,
.column__lvHhf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2___3JdzJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  min-width: 0;
}
.text__hT3NR {
  position: relative;
}
.column__yEbrg {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__yEbrg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__yEbrg > :global(.__wab_flex-container) > *,
.column__yEbrg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__yEbrg > :global(.__wab_flex-container) > picture > img,
.column__yEbrg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__g3Ah8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__g3Ah8 > picture > img {
  object-fit: cover;
}
.img__g3Ah8 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.who {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 72px 0px;
}
.freeBox__iRftO {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__iRftO > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__iRftO > :global(.__wab_flex-container) > *,
.freeBox__iRftO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iRftO > :global(.__wab_flex-container) > picture > img,
.freeBox__iRftO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2___7F7JD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  min-width: 0;
}
.text__aqkHv {
  position: relative;
  width: 100%;
  max-width: 600px;
  text-align: center;
  padding-bottom: 32px;
  min-width: 0;
}
.freeBox__mF6Gg {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mF6Gg {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__kfMsy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.card5 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  min-height: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid #16b3ac;
}
.card5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card5 > :global(.__wab_flex-container) > *,
.card5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card5 > :global(.__wab_flex-container) > picture > img,
.card5 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.freeBox__sPn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  border-radius: 200px;
}
.svg__jO5Ze {
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}
.h5___7Hjci {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.freeBox__r6Rz5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.card6 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  min-height: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid #16b3ac;
}
.card6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card6 > :global(.__wab_flex-container) > *,
.card6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card6 > :global(.__wab_flex-container) > picture > img,
.card6 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.freeBox__gSluH {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  border-radius: 200px;
}
.svg__qZu3G {
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}
.h5__aMpuF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.freeBox__gwehn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.card7 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  min-height: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid #16b3ac;
}
.card7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card7 > :global(.__wab_flex-container) > *,
.card7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card7 > :global(.__wab_flex-container) > picture > img,
.card7 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.freeBox__q8AXb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  border-radius: 200px;
}
.svg__ey6Br {
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}
.h5___1TMro {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.freeBox__fLlBg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.card8 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid #16b3ac;
}
.card8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card8 > :global(.__wab_flex-container) > *,
.card8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card8 > :global(.__wab_flex-container) > picture > img,
.card8 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.freeBox__msco {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  border-radius: 200px;
}
.svg__zkEL {
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}
.h5__chDaq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.h5__e2M0T {
  position: relative;
  padding-top: 32px;
}
.faq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 72px 0px;
}
.freeBox__rdoCr {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__rdoCr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__rdoCr > :global(.__wab_flex-container) > *,
.freeBox__rdoCr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rdoCr > :global(.__wab_flex-container) > picture > img,
.freeBox__rdoCr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2__hrT60 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 32px;
  min-width: 0;
}
.freeBox__wLKuA {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wLKuA {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox___7WBxE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
.antdCollapse___36Aou:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.antdCollapsePanel__mQRl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h6__uKz5P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__z42ER {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox___1U4O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.antdCollapse__p0SbZ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.antdCollapsePanel__xVfxT:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h6__uNbs3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__sRhYr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.ul___2DBcI {
  display: flex;
  position: relative;
}
.li___4Rmse {
  position: relative;
}
.li__zqoW7 {
  position: relative;
}
.li__zIlWj {
  position: relative;
}
.li__rl76X {
  position: relative;
}
.li__ysSjY {
  position: relative;
}
.text__imDUv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 16px;
  min-width: 0;
}
.ul__xxxGy {
  display: flex;
  position: relative;
}
.li__jwOPd {
  position: relative;
}
.li__tgvrQ {
  position: relative;
}
.li__rj0Zk {
  position: relative;
}
.li__cp4ZG {
  position: relative;
}
.li__wf5VW {
  position: relative;
}
.li__ljm5Q {
  position: relative;
}
.li__fxwaA {
  position: relative;
}
.li__nQj00 {
  position: relative;
  height: auto;
}
.li__azAox {
  position: relative;
}
.li__p9Syq {
  position: relative;
}
.li__rx2Xk {
  position: relative;
}
.freeBox__laWke {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-width: 0;
}
.antdCollapse__hbzbd:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.antdCollapsePanel__qp87G:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h6___90Clq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__qkqm8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__kdghQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.antdCollapse__nvsT5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.antdCollapsePanel__y42Wb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h6__bNcUz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__fkMvg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__kximm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.antdCollapse__l3TQr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.antdCollapsePanel__blIm0:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h6__kcfY2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__iBsvx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__mX4Ws {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.antdCollapse__fFs5C:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.antdCollapsePanel__eL1Ih:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h6__hdNzc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__seWzP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__rd7L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.antdCollapse__d7R6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.antdCollapsePanel__yuyap:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h6__cAc9L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___2MSy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__x50Mt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.antdCollapse__b3RxA:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.antdCollapsePanel__ftr8A:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h6___3ABn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__fpOcy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.footer {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #27ada7;
  min-width: 0;
}
.footer > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.footer > :global(.__wab_flex-container) > *,
.footer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footer > :global(.__wab_flex-container) > picture > img,
.footer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__xwWwp {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.freeBox__xwWwp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__xwWwp > :global(.__wab_flex-container) > *,
.freeBox__xwWwp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xwWwp > :global(.__wab_flex-container) > picture > img,
.freeBox__xwWwp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__ig2Ze {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  min-width: 0;
}
.text___68O7R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  min-width: 0;
}
