.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.pageMetadataOverride:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.header {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  background: #ffffff;
  min-width: 0;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1280px;
  object-fit: cover;
  position: relative;
  padding: 16px;
}
.link__b3Om1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__slE {
  object-fit: cover;
  height: 40px;
}
.img__slE > picture > img {
  object-fit: cover;
}
.img__slE > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___29Yui {
  object-fit: cover;
}
.img___29Yui > picture > img {
  object-fit: cover;
}
.img___29Yui > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__ygjon {
  object-fit: cover;
}
.img__ygjon > picture > img {
  object-fit: cover;
}
.img__ygjon > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link___5X7Sn {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #16b3ac;
}
.link__b33S {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #16b3ac;
}
.link__u8Mze {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #16b3ac;
}
.link__aKdhY {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #16b3ac;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: none;
  min-width: 0;
  padding: 72px 0px 0px;
}
.hero > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.hero > :global(.__wab_flex-container) > *,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.hero > :global(.__wab_flex-container) > picture > img,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.img__r0GEt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__r0GEt > picture > img {
  object-fit: cover;
}
.img__r0GEt > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__r0GEt {
    height: 500px;
    object-position: right 50%;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__r0GEt > picture > img {
    object-position: right 50%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__r0GEt > :global(.__wab_img-spacer) > img {
    object-position: right 50%;
  }
}
.columns__lvfh {
  --plsmc-rc-col-gap: 0px;
}
.columns__lvfh {
  display: flex;
  position: absolute;
  width: 1280px;
  height: 500px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  left: auto;
  top: 72px;
  padding: 24px 16px;
}
.columns__lvfh > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__lvfh > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lvfh {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 64px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lvfh > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___6EhrH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___6EhrH {
    display: none;
  }
}
.column__yVvgd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__yVvgd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__yVvgd > :global(.__wab_flex-container) > *,
.column__yVvgd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__yVvgd > :global(.__wab_flex-container) > picture > img,
.column__yVvgd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2__pViEy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  padding-bottom: 0px;
  min-width: 0;
}
.text__dxAUm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  margin-bottom: 0px;
  min-width: 0;
}
.text__lshAl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  min-width: 0;
}
.link__olBtp {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  background: #ffffff;
  border-radius: 8px;
  padding: 16px 40px;
}
.text__gbpy5 {
  position: relative;
  color: #000000;
}
.about {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f7fcfd;
  min-width: 0;
  padding: 72px 0px;
}
.columns__pLy32 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1280px;
  min-width: 0;
}
.columns__pLy32 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
}
.columns__pLy32 > :global(.__wab_flex-container) > *,
.columns__pLy32 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__pLy32 > :global(.__wab_flex-container) > picture > img,
.columns__pLy32
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.columns__pLy32 {
  --plsmc-rc-col-gap: 0px;
}
.columns__pLy32 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__pLy32 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pLy32 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pLy32 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pLy32 > :global(.__wab_flex-container) > *,
  .columns__pLy32 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__pLy32 > :global(.__wab_flex-container) > picture > img,
  .columns__pLy32
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pLy32 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__yY8BF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__yY8BF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__yY8BF > :global(.__wab_flex-container) > *,
.column__yY8BF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__yY8BF > :global(.__wab_flex-container) > picture > img,
.column__yY8BF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2__gvvs9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  min-width: 0;
}
.text___5UlIx {
  position: relative;
}
.column__djmhs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__djmhs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__djmhs > :global(.__wab_flex-container) > *,
.column__djmhs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__djmhs > :global(.__wab_flex-container) > picture > img,
.column__djmhs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img___2RLg2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___2RLg2 > picture > img {
  object-fit: cover;
}
.img___2RLg2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.why {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f7fcfd;
  min-width: 0;
  padding: 72px 0px;
}
.freeBox___94V9S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox___94V9S > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___94V9S > :global(.__wab_flex-container) > *,
.freeBox___94V9S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___94V9S > :global(.__wab_flex-container) > picture > img,
.freeBox___94V9S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2__hWnQw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  padding-bottom: 32px;
  min-width: 0;
}
.columns__ln2Pj {
  display: flex;
  position: relative;
  width: 1280px;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
}
.columns__ln2Pj > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
}
.columns__ln2Pj > :global(.__wab_flex-container) > *,
.columns__ln2Pj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ln2Pj > :global(.__wab_flex-container) > picture > img,
.columns__ln2Pj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.columns__ln2Pj {
  --plsmc-rc-col-gap: 0px;
}
.columns__ln2Pj > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__ln2Pj > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__ln2Pj > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ln2Pj {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ln2Pj > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ln2Pj > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__jBvyo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__bWyub {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 2px 0px #0000001f;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 24px;
  border: 1px solid #ededed;
}
.freeBox__bWyub > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__bWyub > :global(.__wab_flex-container) > *,
.freeBox__bWyub > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bWyub > :global(.__wab_flex-container) > picture > img,
.freeBox__bWyub
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.svg__c208S {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  color: #01b3ac;
  flex-shrink: 0;
}
.text__v6WP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__zJjD9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__lQwYn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 2px 0px #0000001f;
  min-width: 0;
  border-radius: 8px;
  padding: 24px;
  border: 1px solid #ededed;
}
.freeBox__lQwYn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__lQwYn > :global(.__wab_flex-container) > *,
.freeBox__lQwYn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lQwYn > :global(.__wab_flex-container) > picture > img,
.freeBox__lQwYn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.svg__nYzMf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  color: #01b3ac;
  flex-shrink: 0;
}
.text__sduD {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column___25GLc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__cUwDg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 2px 0px #0000001f;
  min-width: 0;
  border-radius: 8px;
  padding: 24px;
  border: 1px solid #ededed;
}
.freeBox__cUwDg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__cUwDg > :global(.__wab_flex-container) > *,
.freeBox__cUwDg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cUwDg > :global(.__wab_flex-container) > picture > img,
.freeBox__cUwDg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.svg__kP2O8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}
.text___7BkFd {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.who {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 72px 0px;
}
.freeBox__sPaZc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__sPaZc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__sPaZc > :global(.__wab_flex-container) > *,
.freeBox__sPaZc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sPaZc > :global(.__wab_flex-container) > picture > img,
.freeBox__sPaZc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2__r3R0E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  min-width: 0;
}
.text__b46NS {
  position: relative;
  width: 100%;
  max-width: 600px;
  text-align: center;
  padding-bottom: 32px;
  min-width: 0;
}
.freeBox__hJe3X {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hJe3X {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__taPh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.card5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  min-height: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid #16b3ac;
}
.card5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card5 > :global(.__wab_flex-container) > *,
.card5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card5 > :global(.__wab_flex-container) > picture > img,
.card5 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.freeBox__bBaaM {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  border-radius: 200px;
}
.svg__btN1B {
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}
.h5__ssV9L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.freeBox__u9QQq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.card6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  min-height: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid #16b3ac;
}
.card6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card6 > :global(.__wab_flex-container) > *,
.card6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card6 > :global(.__wab_flex-container) > picture > img,
.card6 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.freeBox__oem2R {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  border-radius: 200px;
}
.svg__iqJdj {
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}
.h5__vm4Sj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.freeBox__r3IhC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.card7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  min-height: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid #16b3ac;
}
.card7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card7 > :global(.__wab_flex-container) > *,
.card7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card7 > :global(.__wab_flex-container) > picture > img,
.card7 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.freeBox__sqrkO {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  border-radius: 200px;
}
.svg___3951A {
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}
.h5__yneQm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.freeBox__mny3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.card8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid #16b3ac;
}
.card8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card8 > :global(.__wab_flex-container) > *,
.card8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card8 > :global(.__wab_flex-container) > picture > img,
.card8 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.freeBox__xJkT3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  border-radius: 200px;
}
.svg__qjLw3 {
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}
.h5__kuLjR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.h5__snWe3 {
  position: relative;
  padding-top: 32px;
}
.faq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  padding-bottom: 72px;
  padding-top: 72px;
  background: #ffffff;
  min-width: 0;
}
.freeBox__myxic {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__myxic > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__myxic > :global(.__wab_flex-container) > *,
.freeBox__myxic > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__myxic > :global(.__wab_flex-container) > picture > img,
.freeBox__myxic
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2__jsOba {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 32px;
  min-width: 0;
}
.columns__rS7T3 {
  --plsmc-rc-col-gap: 0px;
}
.columns__rS7T3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns__rS7T3 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__rS7T3 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rS7T3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rS7T3 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__peiU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__jvA7R {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jvA7R {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__tiZAz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
.collapsible__zv8J8:global(.__wab_instance) {
  position: relative;
}
.text__uOQnh {
  padding-top: 0px;
}
.text__aoGGq {
  padding-top: 0px;
}
.freeBox__zCyWv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
.collapsible__zyamN:global(.__wab_instance) {
  position: relative;
}
.text__zhaGb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.ul__qZnuK {
  display: flex;
  position: relative;
}
.li__euwa {
  position: relative;
  padding-top: 0px;
}
.li__kryv0 {
  position: relative;
}
.li__fFgU {
  position: relative;
  padding-bottom: 0px;
}
.li__kdpzj {
  position: relative;
}
.text__sRrdp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 16px;
  min-width: 0;
}
.ul___7ToOv {
  display: flex;
  position: relative;
}
.li__ppOGz {
  position: relative;
}
.li__ukbz7 {
  position: relative;
}
.li___7Ks1V {
  position: relative;
}
.li__pPiVb {
  position: relative;
}
.li__wMe5Y {
  position: relative;
}
.li__jLDep {
  position: relative;
}
.li__tTpd7 {
  position: relative;
}
.li__rcoG6 {
  position: relative;
  height: auto;
}
.li__gZyo9 {
  position: relative;
}
.li__iJdxq {
  position: relative;
}
.li__cOouL {
  position: relative;
}
.text__vwyZs {
  padding-top: 0px;
  height: auto;
}
.freeBox__jqgRe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
.collapsible__bPqgF:global(.__wab_instance) {
  position: relative;
}
.text__ejtK0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__jKgOh {
  padding-top: 0px;
}
.freeBox__ziGu5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
.collapsible___5VQid:global(.__wab_instance) {
  position: relative;
}
.text__oLnFs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__paksg {
  padding-top: 0px;
}
.freeBox__v7XRp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
.collapsible__muAAm:global(.__wab_instance) {
  position: relative;
}
.text__ozWKw {
  padding-top: 0px;
}
.text__isvLc {
  padding-top: 0px;
}
.freeBox__ioFf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
.collapsible__n2Sp:global(.__wab_instance) {
  position: relative;
}
.text__gfFmr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__gg48S {
  padding-top: 0px;
}
.column___8W4Pe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__ibGuo {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ibGuo {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__pWbwU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
.collapsible__oH4Ol:global(.__wab_instance) {
  position: relative;
}
.text__wfOze {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___9KzAc {
  padding-top: 0px;
  height: auto;
}
.freeBox___4LB7C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
.collapsible__hkpS:global(.__wab_instance) {
  position: relative;
}
.text___7F1KG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__oVbjd {
  padding-top: 0px;
  padding-bottom: 0px;
}
.freeBox__uyxfE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
.collapsible__fKksy:global(.__wab_instance) {
  position: relative;
}
.text__moUvo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.ul__fkAb {
  display: flex;
  position: relative;
}
.li__bd7Au {
  position: relative;
}
.li__y02Ca {
  position: relative;
  display: flex;
  flex-direction: row;
}
.ul___8Wgh0 {
  display: flex;
  position: relative;
}
.li__qASzS {
  position: relative;
}
.li__biyt5 {
  position: relative;
}
.li__kBAs {
  position: relative;
}
.li__hYyr2 {
  position: relative;
}
.ul__et50G {
  display: flex;
  position: relative;
}
.li__bbEjf {
  position: relative;
}
.li__aYgcj {
  position: relative;
  display: flex;
  flex-direction: row;
}
.ul__boKsv {
  display: flex;
  position: relative;
}
.li__q0UI {
  position: relative;
  padding-top: 0px;
}
.li__uLW {
  position: relative;
}
.li__seX1N {
  position: relative;
}
.li__w3P3H {
  position: relative;
}
.li__eaKcx {
  position: relative;
}
.ul___41RDd {
  display: flex;
  position: relative;
}
.li__ncDTn {
  position: relative;
}
.ul___701Yy {
  display: flex;
  position: relative;
}
.li___9Jqog {
  position: relative;
}
.text__oHAps {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__dXk2V {
  padding-top: 0px;
}
.freeBox__hqmu6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
.collapsible__ooYc8:global(.__wab_instance) {
  position: relative;
}
.text___0Y0A8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__p1LLl {
  padding-top: 0px;
}
.freeBox__uzDyh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
.collapsible__fgdrr:global(.__wab_instance) {
  position: relative;
}
.text__xmztM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__eApU {
  padding-top: 0px;
}
.freeBox___5E5W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
.collapsible__e0T21:global(.__wab_instance) {
  position: relative;
}
.text__qOTl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__yAhZm {
  padding-top: 0px;
}
.freeBox__dRbti {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
.collapsible__wzNuR:global(.__wab_instance) {
  position: relative;
}
.text__tllEx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__kxaPm {
  padding-top: 0px;
}
.freeBox__iOY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
.collapsible__yTr4G:global(.__wab_instance) {
  position: relative;
}
.text__tadQb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  min-width: 0;
}
.text__rTgz5 {
  padding-top: 0px;
}
.who2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 72px 0px;
}
.freeBox__bkjrg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__bkjrg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__bkjrg > :global(.__wab_flex-container) > *,
.freeBox__bkjrg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bkjrg > :global(.__wab_flex-container) > picture > img,
.freeBox__bkjrg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.columns__wIm5D {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  background: #1f1f1f;
  flex-shrink: 1;
  min-width: 0;
  border-radius: 24px;
  padding: 72px 32px;
}
.columns__wIm5D > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.columns__wIm5D > :global(.__wab_flex-container) > *,
.columns__wIm5D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__wIm5D > :global(.__wab_flex-container) > picture > img,
.columns__wIm5D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
  margin-top: 24px;
}
.columns__wIm5D {
  --plsmc-rc-col-gap: 0px;
}
.columns__wIm5D > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__wIm5D > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wIm5D {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wIm5D > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wIm5D > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__twxXl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__twxXl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__twxXl > :global(.__wab_flex-container) > *,
.column__twxXl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__twxXl > :global(.__wab_flex-container) > picture > img,
.column__twxXl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2___3ZQlU {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  color: #ffffff;
  min-width: 0;
}
.text___6UuK8 {
  position: relative;
  width: 100%;
  max-width: 600px;
  text-align: left;
  padding-bottom: 32px;
  color: #ababab;
  min-width: 0;
  display: block;
}
.column__bvv7P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__bvv7P > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__bvv7P > :global(.__wab_flex-container) > *,
.column__bvv7P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__bvv7P > :global(.__wab_flex-container) > picture > img,
.column__bvv7P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__zaAf {
  position: relative;
  object-fit: cover;
  width: 60%;
}
.img__zaAf > picture > img {
  object-fit: cover;
}
.img__zaAf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #27ada7;
  min-width: 0;
}
.footer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.footer > :global(.__wab_flex-container) > *,
.footer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footer > :global(.__wab_flex-container) > picture > img,
.footer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__cuwSy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.freeBox__cuwSy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__cuwSy > :global(.__wab_flex-container) > *,
.freeBox__cuwSy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cuwSy > :global(.__wab_flex-container) > picture > img,
.freeBox__cuwSy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__vOyNd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  min-width: 0;
}
.text__yYcig {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  min-width: 0;
}
