.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
}
:where(.root > *) {
  grid-column: 4;
}
.header {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 82px;
  max-width: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
}
.svg___1U15 {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.freeBox__pptR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 82px;
  background: radial-gradient(
      ellipse 40% 60% at 5% 5%,
      #ccfffd 0%,
      #ffffff 100%
    )
    0% 0% / 100% 100% repeat;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 76px 0px;
}
.columns___7HtPl {
  --plsmc-rc-col-gap: 0px;
}
.columns___7HtPl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___7HtPl > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___7HtPl > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7HtPl {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7HtPl > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__djOVn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__djOVn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__djOVn > :global(.__wab_flex-container) > *,
.column__djOVn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__djOVn > :global(.__wab_flex-container) > picture > img,
.column__djOVn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.2;
  min-width: 0;
}
.text__fb7Eh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__gJtk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__epQ2K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 76px 0px;
}
.freeBox__epQ2K > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__epQ2K > :global(.__wab_flex-container) > *,
.freeBox__epQ2K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__epQ2K > :global(.__wab_flex-container) > picture > img,
.freeBox__epQ2K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.columns__ffIIt {
  --plsmc-rc-col-gap: 0px;
}
.columns__ffIIt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  flex-shrink: 1;
  flex-wrap: nowrap;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.columns__ffIIt > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__ffIIt > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ffIIt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ffIIt > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__uBpb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__uBpb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__uBpb > :global(.__wab_flex-container) > *,
.column__uBpb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__uBpb > :global(.__wab_flex-container) > picture > img,
.column__uBpb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.2;
  min-width: 0;
}
.column__rPnBp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__eJobP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.freeBox__eJobP > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__eJobP > :global(.__wab_flex-container) > *,
.freeBox__eJobP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eJobP > :global(.__wab_flex-container) > picture > img,
.freeBox__eJobP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.tableItem:global(.__wab_instance) {
  position: relative;
}
.h5___2Siln {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__rwzRr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.img__ddSUe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ddSUe > picture > img {
  object-fit: cover;
}
.img__ddSUe > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__pmVtE {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__pmVtE > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__pmVtE > :global(.__wab_flex-container) > *,
.freeBox__pmVtE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pmVtE > :global(.__wab_flex-container) > picture > img,
.freeBox__pmVtE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__rfyc0 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 70px;
  flex-shrink: 0;
}
.img__rfyc0 > picture > img {
  object-fit: contain;
}
.img__rfyc0 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__cKHT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__cKHT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__cKHT > :global(.__wab_flex-container) > *,
.freeBox__cKHT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cKHT > :global(.__wab_flex-container) > picture > img,
.freeBox__cKHT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__uqYZe {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__v1D8S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__paQuW {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__paQuW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__paQuW > :global(.__wab_flex-container) > *,
.freeBox__paQuW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__paQuW > :global(.__wab_flex-container) > picture > img,
.freeBox__paQuW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__qXpS {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__qXpS > picture > img {
  object-fit: contain;
}
.img__qXpS > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__xbGcl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xbGcl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__xbGcl > :global(.__wab_flex-container) > *,
.freeBox__xbGcl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xbGcl > :global(.__wab_flex-container) > picture > img,
.freeBox__xbGcl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__vq4Lv {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__newDu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__nrzCo {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__nrzCo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__nrzCo > :global(.__wab_flex-container) > *,
.freeBox__nrzCo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nrzCo > :global(.__wab_flex-container) > picture > img,
.freeBox__nrzCo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__r8MgL {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__r8MgL > picture > img {
  object-fit: contain;
}
.img__r8MgL > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__iKyPq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__iKyPq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__iKyPq > :global(.__wab_flex-container) > *,
.freeBox__iKyPq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iKyPq > :global(.__wab_flex-container) > picture > img,
.freeBox__iKyPq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__umAku {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__zoXl6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__dzymu {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__dzymu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__dzymu > :global(.__wab_flex-container) > *,
.freeBox__dzymu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dzymu > :global(.__wab_flex-container) > picture > img,
.freeBox__dzymu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__vNoRg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__vNoRg > picture > img {
  object-fit: cover;
}
.img__vNoRg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__cxCsb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__cxCsb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__cxCsb > :global(.__wab_flex-container) > *,
.freeBox__cxCsb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cxCsb > :global(.__wab_flex-container) > picture > img,
.freeBox__cxCsb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5___7Lalq {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__rVecy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox___1L4Dk {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox___1L4Dk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___1L4Dk > :global(.__wab_flex-container) > *,
.freeBox___1L4Dk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1L4Dk > :global(.__wab_flex-container) > picture > img,
.freeBox___1L4Dk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__kQ9Lf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__kQ9Lf > picture > img {
  object-fit: cover;
}
.img__kQ9Lf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__mrGTp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mrGTp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__mrGTp > :global(.__wab_flex-container) > *,
.freeBox__mrGTp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mrGTp > :global(.__wab_flex-container) > picture > img,
.freeBox__mrGTp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__rHays {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__agNKt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__gMrmj {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__gMrmj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__gMrmj > :global(.__wab_flex-container) > *,
.freeBox__gMrmj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gMrmj > :global(.__wab_flex-container) > picture > img,
.freeBox__gMrmj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__xSRlM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__xSRlM > picture > img {
  object-fit: cover;
}
.img__xSRlM > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___2Ky2T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___2Ky2T > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___2Ky2T > :global(.__wab_flex-container) > *,
.freeBox___2Ky2T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Ky2T > :global(.__wab_flex-container) > picture > img,
.freeBox___2Ky2T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__n3XW9 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__lBfPq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__zq5M {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__zq5M > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__zq5M > :global(.__wab_flex-container) > *,
.freeBox__zq5M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zq5M > :global(.__wab_flex-container) > picture > img,
.freeBox__zq5M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__ilXmy {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__ilXmy > picture > img {
  object-fit: contain;
}
.img__ilXmy > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox___4TTN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___4TTN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___4TTN > :global(.__wab_flex-container) > *,
.freeBox___4TTN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4TTN > :global(.__wab_flex-container) > picture > img,
.freeBox___4TTN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5___1J0L1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__aRofj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__xjBoo {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__xjBoo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__xjBoo > :global(.__wab_flex-container) > *,
.freeBox__xjBoo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xjBoo > :global(.__wab_flex-container) > picture > img,
.freeBox__xjBoo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__t23V4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__t23V4 > picture > img {
  object-fit: cover;
}
.img__t23V4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__xn1Km {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xn1Km > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__xn1Km > :global(.__wab_flex-container) > *,
.freeBox__xn1Km > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xn1Km > :global(.__wab_flex-container) > picture > img,
.freeBox__xn1Km
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__oajH {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__oAgc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__kMTyp {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__kMTyp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__kMTyp > :global(.__wab_flex-container) > *,
.freeBox__kMTyp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kMTyp > :global(.__wab_flex-container) > picture > img,
.freeBox__kMTyp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__tZmiC {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__tZmiC > picture > img {
  object-fit: contain;
}
.img__tZmiC > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__sj8N {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__sj8N > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__sj8N > :global(.__wab_flex-container) > *,
.freeBox__sj8N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sj8N > :global(.__wab_flex-container) > picture > img,
.freeBox__sj8N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5___748V {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__lfocu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__nligE {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px;
}
.link__zGAuF {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background: #f9fafb;
  border-radius: 8px;
  padding: 16px;
}
.text__thcWw {
  position: relative;
}
.link__ts1C {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
}
.text___8D0Hy {
  position: relative;
}
.link__jrmdm {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
}
.text___5Pji {
  position: relative;
}
.link__pkF2F {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
}
.text__dvlw {
  position: relative;
}
.link__bxhnp {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
}
.text__lyKol {
  position: relative;
}
.link__icYtb {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
}
.text__ndyv5 {
  position: relative;
}
.link___85Lc {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
}
.text__keEh {
  position: relative;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #ffffff;
  grid-column-start: 1;
  grid-column-end: -1;
}
.footer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.footer > :global(.__wab_flex-container) > *,
.footer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footer > :global(.__wab_flex-container) > picture > img,
.footer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox___9Lt0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.freeBox___9Lt0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___9Lt0 > :global(.__wab_flex-container) > *,
.freeBox___9Lt0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Lt0 > :global(.__wab_flex-container) > picture > img,
.freeBox___9Lt0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__yuEj0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  text-align: center;
  min-width: 0;
}
.text__yhd3N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  min-width: 0;
}
