.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
}
:where(.root > *) {
  grid-column: 4;
}
.header {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 82px;
  max-width: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
}
.svg__a0W5V {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.freeBox___6AXoH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 82px;
  background: radial-gradient(
      ellipse 40% 60% at 5% 5%,
      #ccfffd 0%,
      #ffffff 100%
    )
    0% 0% / 100% 100% repeat;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 76px 0px;
}
.columns__c5Hf {
  --plsmc-rc-col-gap: 0px;
}
.columns__c5Hf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__c5Hf > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__c5Hf > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c5Hf {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c5Hf > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ijKpm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__ijKpm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__ijKpm > :global(.__wab_flex-container) > *,
.column__ijKpm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ijKpm > :global(.__wab_flex-container) > picture > img,
.column__ijKpm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.2;
  min-width: 0;
}
.text__lAt37 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__xRwHg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__tCiBn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 76px 0px;
}
.freeBox__tCiBn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__tCiBn > :global(.__wab_flex-container) > *,
.freeBox__tCiBn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tCiBn > :global(.__wab_flex-container) > picture > img,
.freeBox__tCiBn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.columns___2MNv8 {
  --plsmc-rc-col-gap: 0px;
}
.columns___2MNv8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  flex-shrink: 1;
  flex-wrap: nowrap;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.columns___2MNv8 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___2MNv8 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2MNv8 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2MNv8 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__pXfXr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__pXfXr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__pXfXr > :global(.__wab_flex-container) > *,
.column__pXfXr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__pXfXr > :global(.__wab_flex-container) > picture > img,
.column__pXfXr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.2;
  min-width: 0;
}
.column__s6Bv3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__eLHpj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.freeBox__eLHpj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__eLHpj > :global(.__wab_flex-container) > *,
.freeBox__eLHpj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eLHpj > :global(.__wab_flex-container) > picture > img,
.freeBox__eLHpj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.freeBox__lX6YC {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__lX6YC > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__lX6YC > :global(.__wab_flex-container) > *,
.freeBox__lX6YC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lX6YC > :global(.__wab_flex-container) > picture > img,
.freeBox__lX6YC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__nxiL5 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__nxiL5 > picture > img {
  object-fit: contain;
}
.img__nxiL5 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox___558Yh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___558Yh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___558Yh > :global(.__wab_flex-container) > *,
.freeBox___558Yh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___558Yh > :global(.__wab_flex-container) > picture > img,
.freeBox___558Yh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__kMPax {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__blhlN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__jhoUq {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__jhoUq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__jhoUq > :global(.__wab_flex-container) > *,
.freeBox__jhoUq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jhoUq > :global(.__wab_flex-container) > picture > img,
.freeBox__jhoUq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__fkVqw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__fkVqw > picture > img {
  object-fit: cover;
}
.img__fkVqw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__yJdGz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__yJdGz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__yJdGz > :global(.__wab_flex-container) > *,
.freeBox__yJdGz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yJdGz > :global(.__wab_flex-container) > picture > img,
.freeBox__yJdGz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__bZeJx {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  padding-bottom: 0px;
  min-width: 0;
}
.text__kB9Q4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__bxzb6 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__bxzb6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__bxzb6 > :global(.__wab_flex-container) > *,
.freeBox__bxzb6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bxzb6 > :global(.__wab_flex-container) > picture > img,
.freeBox__bxzb6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__abqGj {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__abqGj > picture > img {
  object-fit: contain;
}
.img__abqGj > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__moKcE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__moKcE > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__moKcE > :global(.__wab_flex-container) > *,
.freeBox__moKcE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__moKcE > :global(.__wab_flex-container) > picture > img,
.freeBox__moKcE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__xlsOa {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  padding-top: 0px;
  min-width: 0;
}
.text__slIu2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__vum4T {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__vum4T > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__vum4T > :global(.__wab_flex-container) > *,
.freeBox__vum4T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vum4T > :global(.__wab_flex-container) > picture > img,
.freeBox__vum4T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__eU6Y {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__eU6Y > picture > img {
  object-fit: contain;
}
.img__eU6Y > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__oQcJ8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__oQcJ8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__oQcJ8 > :global(.__wab_flex-container) > *,
.freeBox__oQcJ8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oQcJ8 > :global(.__wab_flex-container) > picture > img,
.freeBox__oQcJ8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5___5USew {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  padding-top: 0px;
  min-width: 0;
}
.text__ehxC9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox___7NzL {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox___7NzL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___7NzL > :global(.__wab_flex-container) > *,
.freeBox___7NzL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7NzL > :global(.__wab_flex-container) > picture > img,
.freeBox___7NzL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__qGkeq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__qGkeq > picture > img {
  object-fit: cover;
}
.img__qGkeq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__pGn7T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__pGn7T > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__pGn7T > :global(.__wab_flex-container) > *,
.freeBox__pGn7T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pGn7T > :global(.__wab_flex-container) > picture > img,
.freeBox__pGn7T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__boOmt {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__ihCCr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__fxC9S {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__fxC9S > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__fxC9S > :global(.__wab_flex-container) > *,
.freeBox__fxC9S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fxC9S > :global(.__wab_flex-container) > picture > img,
.freeBox__fxC9S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__x78 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__x78 > picture > img {
  object-fit: contain;
}
.img__x78 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__yfucC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__yfucC > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__yfucC > :global(.__wab_flex-container) > *,
.freeBox__yfucC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yfucC > :global(.__wab_flex-container) > picture > img,
.freeBox__yfucC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__kt4L {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__uUivS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox___6VEg {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox___6VEg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___6VEg > :global(.__wab_flex-container) > *,
.freeBox___6VEg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6VEg > :global(.__wab_flex-container) > picture > img,
.freeBox___6VEg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__lwngY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__lwngY > picture > img {
  object-fit: cover;
}
.img__lwngY > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__qV4Zs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__qV4Zs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__qV4Zs > :global(.__wab_flex-container) > *,
.freeBox__qV4Zs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qV4Zs > :global(.__wab_flex-container) > picture > img,
.freeBox__qV4Zs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5___3Uyc2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__qgni3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox___60Lg {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox___60Lg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___60Lg > :global(.__wab_flex-container) > *,
.freeBox___60Lg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___60Lg > :global(.__wab_flex-container) > picture > img,
.freeBox___60Lg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__r227Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__r227Q > picture > img {
  object-fit: cover;
}
.img__r227Q > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__l3Sy3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__l3Sy3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__l3Sy3 > :global(.__wab_flex-container) > *,
.freeBox__l3Sy3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l3Sy3 > :global(.__wab_flex-container) > picture > img,
.freeBox__l3Sy3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5___3P1Ac {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__yun0J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox___7FRd5 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox___7FRd5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___7FRd5 > :global(.__wab_flex-container) > *,
.freeBox___7FRd5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7FRd5 > :global(.__wab_flex-container) > picture > img,
.freeBox___7FRd5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__gx7Bx {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__gx7Bx > picture > img {
  object-fit: contain;
}
.img__gx7Bx > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__d7Gsj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__d7Gsj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__d7Gsj > :global(.__wab_flex-container) > *,
.freeBox__d7Gsj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d7Gsj > :global(.__wab_flex-container) > picture > img,
.freeBox__d7Gsj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__fpTlO {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__vHa8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__mObtK {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__mObtK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__mObtK > :global(.__wab_flex-container) > *,
.freeBox__mObtK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mObtK > :global(.__wab_flex-container) > picture > img,
.freeBox__mObtK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__iUiOy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__iUiOy > picture > img {
  object-fit: cover;
}
.img__iUiOy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__eigRr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__eigRr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__eigRr > :global(.__wab_flex-container) > *,
.freeBox__eigRr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eigRr > :global(.__wab_flex-container) > picture > img,
.freeBox__eigRr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__q517 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__bNJjN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__sezP2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px;
}
.link__fGegc {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background: #ffffff;
  border-radius: 8px;
  padding: 16px;
}
.text__fqtJq {
  position: relative;
}
.link__wqqT {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
}
.text__ulJKd {
  position: relative;
}
.link__zeymE {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
}
.text__uldJ3 {
  position: relative;
}
.link__v8Aqi {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background: #f9fafb;
  border-radius: 8px;
  padding: 16px;
}
.text__c1Yz {
  position: relative;
}
.link__naYRy {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
}
.text__bXLk {
  position: relative;
}
.link__ieyEi {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
}
.text__u07B {
  position: relative;
}
.link__iCUu {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
}
.text__t3B5O {
  position: relative;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #ffffff;
  grid-column-start: 1;
  grid-column-end: -1;
}
.footer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.footer > :global(.__wab_flex-container) > *,
.footer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footer > :global(.__wab_flex-container) > picture > img,
.footer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__yrIvE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.freeBox__yrIvE > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__yrIvE > :global(.__wab_flex-container) > *,
.freeBox__yrIvE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yrIvE > :global(.__wab_flex-container) > picture > img,
.freeBox__yrIvE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__uZ9Ig {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  text-align: center;
  min-width: 0;
}
.text__uyHBr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  min-width: 0;
}
