.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.header {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 82px;
  max-width: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
}
.link___9WNEq {
  position: relative;
  font-size: 14px;
  color: #000000;
}
.link__aFflp {
  position: relative;
  color: #000000;
}
.link__ryqxO {
  position: relative;
  height: auto;
  color: #000000;
}
.link__pJlWx {
  position: relative;
  color: #000000;
}
.svg__ooCu {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 480px;
  max-width: 100%;
  background: url("/plasmic/sandbox_satuhsehat/images/bannerV2Png.png") top 50% left 50% / cover no-repeat;
  margin-top: 82px;
  grid-column-start: 1;
  grid-column-end: -1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero {
    background: url("/plasmic/sandbox_satuhsehat/images/bannerV2Png.png") top 50% left 0% / cover no-repeat;
    padding-top: 24px;
    padding-bottom: 0px;
  }
}
.columns__hPd8U {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1280px;
  min-width: 0;
}
.columns__hPd8U > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-col-gap: 24px;
}
.columns__hPd8U > :global(.__wab_flex-container) > *,
.columns__hPd8U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__hPd8U > :global(.__wab_flex-container) > picture > img,
.columns__hPd8U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.columns__hPd8U {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1280px;
  min-width: 0;
}
.columns__hPd8U > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-col-gap, 0px)) * 6 / 12);
}
.columns__hPd8U > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hPd8U {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hPd8U > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hPd8U {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hPd8U > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-col-gap, 0px)) * 12 / 12);
  }
}
.column__a2Ovu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__a2Ovu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__a2Ovu > :global(.__wab_flex-container) > *,
.column__a2Ovu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__a2Ovu > :global(.__wab_flex-container) > picture > img,
.column__a2Ovu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.column__a2Ovu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}
.text__mcFyt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-weight: 400;
  min-width: 0;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-weight: 400;
  margin-top: calc(0px + 24px) !important;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 46px;
    letter-spacing: -1px;
    margin-top: calc(0px + 24px) !important;
  }
}
.text__os3Ac {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-weight: 400;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__kHiNt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___4KvNu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__ncmS9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.about {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 76px 0px;
}
.freeBox__iAfpw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 910px;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__iAfpw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__iAfpw > :global(.__wab_flex-container) > *,
.freeBox__iAfpw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iAfpw > :global(.__wab_flex-container) > picture > img,
.freeBox__iAfpw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__iAfpw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 910px;
  min-width: 0;
  padding: 0px 16px;
}
.h2__x8GKp {
  position: relative;
  width: 678px;
  height: auto;
  max-width: 100%;
  font-weight: 400;
}
.text__lB7Lh {
  position: relative;
  width: 678px;
  height: auto;
  max-width: 100%;
  font-weight: 400;
}
.img__o3S8B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 910px;
}
.img__o3S8B > picture > img {
  object-fit: cover;
}
.img__o3S8B > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__hjbWl {
  position: relative;
  width: 678px;
  height: auto;
  max-width: 100%;
  font-weight: 400;
}
.why {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f9f9f9;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 72px 0px;
}
.freeBox__wtcah {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__wtcah > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__wtcah > :global(.__wab_flex-container) > *,
.freeBox__wtcah > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wtcah > :global(.__wab_flex-container) > picture > img,
.freeBox__wtcah
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__wtcah {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.h2___3ROgy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: left;
  padding-bottom: 32px;
  font-weight: 400;
  line-height: 150%;
  min-width: 0;
}
.columns___0Ed1M {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
}
.columns___0Ed1M > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-col-gap: 24px;
}
.columns___0Ed1M > :global(.__wab_flex-container) > *,
.columns___0Ed1M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___0Ed1M > :global(.__wab_flex-container) > picture > img,
.columns___0Ed1M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.columns___0Ed1M {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns___0Ed1M > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-col-gap, 0px)) * 4 / 12);
}
.columns___0Ed1M > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-col-gap, 0px)) * 4 / 12);
}
.columns___0Ed1M > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0Ed1M {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0Ed1M > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0Ed1M > :global(.__wab_flex-container) > *,
  .columns___0Ed1M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___0Ed1M > :global(.__wab_flex-container) > picture > img,
  .columns___0Ed1M
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0Ed1M {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0Ed1M > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-col-gap, 0px)) * 12 / 12);
  }
}
.column__fqjYt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__hrpGg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 20px 40px 0px #00000014;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 24px;
}
.freeBox__hrpGg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__hrpGg > :global(.__wab_flex-container) > *,
.freeBox__hrpGg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hrpGg > :global(.__wab_flex-container) > picture > img,
.freeBox__hrpGg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.freeBox__hrpGg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 20px 40px 0px #00000014;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 24px;
}
.svg__swJwS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  color: #01b3ac;
  flex-shrink: 0;
}
.text__hWsL {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.column___5QWwO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox___27IDe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 20px 40px 0px #00000014;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 24px;
}
.freeBox___27IDe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___27IDe > :global(.__wab_flex-container) > *,
.freeBox___27IDe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___27IDe > :global(.__wab_flex-container) > picture > img,
.freeBox___27IDe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.freeBox___27IDe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 20px 40px 0px #00000014;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 24px;
}
.svg__afrlt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  color: #01b3ac;
  flex-shrink: 0;
}
.text__cS7Tk {
  width: 100%;
  height: auto;
  min-width: 0;
}
.column__nhSu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__yjzjw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 20px 40px 0px #00000014;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 24px;
}
.freeBox__yjzjw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__yjzjw > :global(.__wab_flex-container) > *,
.freeBox__yjzjw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yjzjw > :global(.__wab_flex-container) > picture > img,
.freeBox__yjzjw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.freeBox__yjzjw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 20px 40px 0px #00000014;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 24px;
}
.svg__aZuWq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}
.text__psR11 {
  width: 100%;
  height: auto;
  min-width: 0;
}
.who {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 72px 0px;
}
.freeBox__ijFM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__ijFM > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__ijFM > :global(.__wab_flex-container) > *,
.freeBox__ijFM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ijFM > :global(.__wab_flex-container) > picture > img,
.freeBox__ijFM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__ijFM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.h2__hcHsg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-weight: 400;
  min-width: 0;
}
.text__uUTmq {
  position: relative;
  width: 100%;
  max-width: 600px;
  text-align: center;
  padding-bottom: 32px;
  min-width: 0;
}
.freeBox__nyyO {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nyyO {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__unKbI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.card5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ebf3fb;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 24px;
}
.card5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card5 > :global(.__wab_flex-container) > *,
.card5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card5 > :global(.__wab_flex-container) > picture > img,
.card5 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.card5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ebf3fb;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 24px;
}
.freeBox__xymnQ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  border-radius: 200px;
}
.svg__qovDu {
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}
.h5__nNqZg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.freeBox__rnGwA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.card6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #e8f5e9;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 24px;
}
.card6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card6 > :global(.__wab_flex-container) > *,
.card6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card6 > :global(.__wab_flex-container) > picture > img,
.card6 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.card6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #e8f5e9;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 24px;
}
.freeBox__lvVkI {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  border-radius: 200px;
}
.svg__mvHo6 {
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}
.h5__oXxdd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.freeBox__zuClj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.card7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #f5ebff;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 24px;
}
.card7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card7 > :global(.__wab_flex-container) > *,
.card7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card7 > :global(.__wab_flex-container) > picture > img,
.card7 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.card7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #f5ebff;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 24px;
}
.freeBox__xb0VZ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  border-radius: 200px;
}
.svg__pm03I {
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}
.h5__ovuP9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.freeBox__vgjsA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.card8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #fff3d6;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 24px;
}
.card8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card8 > :global(.__wab_flex-container) > *,
.card8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card8 > :global(.__wab_flex-container) > picture > img,
.card8 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.card8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #fff3d6;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 24px;
}
.freeBox__gdSiD {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  border-radius: 200px;
}
.svg__bNsX {
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}
.h5__lr3Gi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.h5__lQ3E {
  position: relative;
  padding-top: 32px;
}
.faq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 72px 0px;
}
.freeBox__kmSpa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__kmSpa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__kmSpa > :global(.__wab_flex-container) > *,
.freeBox__kmSpa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kmSpa > :global(.__wab_flex-container) > picture > img,
.freeBox__kmSpa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__kmSpa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.h2__jeDqB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-weight: 400;
  padding-bottom: 32px;
  min-width: 0;
}
.columns__aLeF2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 0px 16px;
}
.columns__aLeF2 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-col-gap: 24px;
}
.columns__aLeF2 > :global(.__wab_flex-container) > *,
.columns__aLeF2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__aLeF2 > :global(.__wab_flex-container) > picture > img,
.columns__aLeF2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.columns__aLeF2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px 16px;
}
.columns__aLeF2 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-col-gap, 0px)) * 6 / 12);
}
.columns__aLeF2 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aLeF2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aLeF2 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aLeF2 > :global(.__wab_flex-container) > *,
  .columns__aLeF2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__aLeF2 > :global(.__wab_flex-container) > picture > img,
  .columns__aLeF2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aLeF2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aLeF2 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ba2Ko {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__ba2Ko > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__ba2Ko > :global(.__wab_flex-container) > *,
.column__ba2Ko > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ba2Ko > :global(.__wab_flex-container) > picture > img,
.column__ba2Ko
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.column__ba2Ko {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.collapsiblev2:global(.__wab_instance) {
  position: relative;
}
.h5__nSJac {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  min-width: 0;
}
.svg__plPu0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__fYpf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text___68Bpc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.collapsiblev22:global(.__wab_instance) {
  position: relative;
}
.h5__kHwB0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  min-width: 0;
}
.svg__qu2QK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__eSfby {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text___2W0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.ul__t9IW {
  display: flex;
  position: relative;
}
.li__f9UqR {
  position: relative;
  padding-top: 0px;
}
.li___0GTpP {
  position: relative;
}
.li__rtSlt {
  position: relative;
  padding-bottom: 0px;
}
.li__kxMge {
  position: relative;
}
.text__wpeQs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 16px;
  min-width: 0;
}
.ul__jPcNr {
  display: flex;
  position: relative;
}
.li__yVn3 {
  position: relative;
}
.li___6Fej9 {
  position: relative;
}
.li__molDp {
  position: relative;
}
.li__dmLwn {
  position: relative;
}
.li__hyvh5 {
  position: relative;
}
.li__teBjr {
  position: relative;
}
.li__yD3Ui {
  position: relative;
}
.li__zV4Uw {
  position: relative;
  height: auto;
}
.li__mqfgW {
  position: relative;
}
.li__nWdNs {
  position: relative;
}
.li__xvf0T {
  position: relative;
}
.collapsiblev23:global(.__wab_instance) {
  position: relative;
}
.h5__l0Hk2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  min-width: 0;
}
.svg__gXtlv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg___80Sl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__boBd2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.collapsiblev24:global(.__wab_instance) {
  position: relative;
}
.h5__rcOtN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  padding-top: 0px;
  min-width: 0;
}
.svg__qwYp9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__baVur {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__oxbzC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.collapsiblev25:global(.__wab_instance) {
  position: relative;
}
.h5___5Rous {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  padding-top: 0px;
  min-width: 0;
}
.svg__rfInO {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__mw0Ru {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__a1Iii {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.collapsiblev26:global(.__wab_instance) {
  position: relative;
}
.h5__fJagd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  padding-top: 0px;
  min-width: 0;
}
.svg__kpAJb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__aro1M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__zNg4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.collapsiblev27:global(.__wab_instance) {
  position: relative;
}
.h5__cNBw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  min-width: 0;
}
.svg___4W9Cf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__gikBt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__n95Ni {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__r3D71 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__r3D71 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__r3D71 > :global(.__wab_flex-container) > *,
.column__r3D71 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__r3D71 > :global(.__wab_flex-container) > picture > img,
.column__r3D71
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.column__r3D71 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.collapsiblev28:global(.__wab_instance) {
  position: relative;
}
.h5__wipeo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  min-width: 0;
}
.svg__nyRfp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg___6YlxE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__ezPyv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.collapsiblev29:global(.__wab_instance) {
  position: relative;
}
.h5___9XdDd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  min-width: 0;
}
.svg__diw6J {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__uPPK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__djVf0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.ul__m67EF {
  display: flex;
  position: relative;
}
.li__e0Jey {
  position: relative;
}
.li___3LoUn {
  position: relative;
  display: flex;
  flex-direction: row;
}
.ul__naSlU {
  display: flex;
  position: relative;
}
.li__bum1I {
  position: relative;
}
.li__tAfsz {
  position: relative;
}
.li___35U7W {
  position: relative;
}
.li__ysGFk {
  position: relative;
}
.ul__q8Xkd {
  display: flex;
  position: relative;
}
.li__lCyI {
  position: relative;
}
.li__suUUc {
  position: relative;
  display: flex;
  flex-direction: row;
}
.ul___5C4M {
  display: flex;
  position: relative;
}
.li__mjtAv {
  position: relative;
  padding-top: 0px;
}
.li__e19Xf {
  position: relative;
}
.li__ij7Bs {
  position: relative;
}
.li__t3R9Y {
  position: relative;
}
.li__pZaLp {
  position: relative;
}
.ul__otyEc {
  display: flex;
  position: relative;
}
.li__slarQ {
  position: relative;
}
.ul__p54Ll {
  display: flex;
  position: relative;
}
.li__lFjw2 {
  position: relative;
}
.text__qwu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.collapsiblev210:global(.__wab_instance) {
  position: relative;
}
.h5__d0DHc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  min-width: 0;
}
.svg__a4Xu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__r62Fn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__r26Db {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.collapsiblev211:global(.__wab_instance) {
  position: relative;
}
.h5__yKir7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  min-width: 0;
}
.svg__qHc5Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__g2MEb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__xZlK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.collapsiblev212:global(.__wab_instance) {
  position: relative;
}
.h5___5KgjY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  min-width: 0;
}
.svg__iNeB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg___9FzJu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__qwMVt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.collapsiblev213:global(.__wab_instance) {
  position: relative;
}
.h5__ic1De {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  min-width: 0;
}
.svg__hvGsI {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__zqBp7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__pOn0P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.collapsiblev214:global(.__wab_instance) {
  position: relative;
}
.h5__gup9H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  min-width: 0;
}
.svg__md4TG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__aeLp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__gv7Sx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__d1I3X {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 76px 0px;
}
.freeBox___7LPyc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.columns__mNvfi {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  background: linear-gradient(316deg, #3899fe00 76%, #3899fe8a 100%) 0% 0% /
      100% 100% repeat,
    #ebf3fb;
  flex-shrink: 1;
  min-width: 0;
  border-radius: 24px;
  padding: 72px 32px;
}
.columns__mNvfi > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-col-gap: 24px;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.columns__mNvfi > :global(.__wab_flex-container) > *,
.columns__mNvfi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__mNvfi > :global(.__wab_flex-container) > picture > img,
.columns__mNvfi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
  margin-top: 24px;
}
.columns__mNvfi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  background: linear-gradient(316deg, #3899fe00 76%, #3899fe8a 100%) 0% 0% /
      100% 100% repeat,
    #ebf3fb;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
  border-radius: 24px;
  padding: 72px 32px;
}
.columns__mNvfi > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-col-gap, 0px)) * 6 / 12);
}
.columns__mNvfi > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mNvfi {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mNvfi > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mNvfi {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mNvfi > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-col-gap, 0px)) * 12 / 12);
  }
}
.column__jWv1U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__jWv1U > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__jWv1U > :global(.__wab_flex-container) > *,
.column__jWv1U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__jWv1U > :global(.__wab_flex-container) > picture > img,
.column__jWv1U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.column__jWv1U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}
.h2__aItg3 {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  color: #000000;
  min-width: 0;
}
.text__nBxKf {
  position: relative;
  width: 100%;
  max-width: 600px;
  text-align: left;
  padding-bottom: 32px;
  color: #000000;
  padding-top: 0px;
  min-width: 0;
  display: block;
}
.column___7Hwww {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___7Hwww > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column___7Hwww > :global(.__wab_flex-container) > *,
.column___7Hwww > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___7Hwww > :global(.__wab_flex-container) > picture > img,
.column___7Hwww
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.column___7Hwww {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.img__vukvW {
  position: relative;
  object-fit: cover;
  width: 60%;
}
.img__vukvW > picture > img {
  object-fit: cover;
}
.img__vukvW > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #ffffff;
  grid-column-start: 1;
  grid-column-end: -1;
}
.footer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.footer > :global(.__wab_flex-container) > *,
.footer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footer > :global(.__wab_flex-container) > picture > img,
.footer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #ffffff;
  grid-column-start: 1;
  grid-column-end: -1;
}
.freeBox__wtbMp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.freeBox__wtbMp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__wtbMp > :global(.__wab_flex-container) > *,
.freeBox__wtbMp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wtbMp > :global(.__wab_flex-container) > picture > img,
.freeBox__wtbMp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__wtbMp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.text__gc7M4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  text-align: center;
  min-width: 0;
}
.text__frFgT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  min-width: 0;
}
.menuOverlay:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  display: flex;
}
.link__chbbb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  color: #000000;
  justify-content: flex-end;
  align-items: flex-start;
  min-width: 0;
  padding: 16px;
}
.svg__jxZh2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link__ocVpO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  color: #000000;
  min-width: 0;
  padding: 16px;
}
.text__vjl1U {
  position: relative;
  padding-bottom: 0px;
}
.link__kIHxL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  color: #000000;
  min-width: 0;
  padding: 16px;
}
.text___6Gfjc {
  position: relative;
  padding-top: 0px;
}
.link__scRXu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  color: #000000;
  min-width: 0;
  padding: 16px;
}
.text__ilu4W {
  position: relative;
  padding-bottom: 0px;
  padding-top: 0px;
}
.link__ultjJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  color: #000000;
  min-width: 0;
  padding: 16px;
}
.text__ucRnE {
  position: relative;
  padding-top: 0px;
}
