.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.head:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.header {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  background: #ffffff;
  min-width: 0;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1280px;
  object-fit: cover;
  position: relative;
  padding: 16px;
}
.link__qv4Ll {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__w7T3I {
  object-fit: cover;
  height: 40px;
}
.img__w7T3I > picture > img {
  object-fit: cover;
}
.img__w7T3I > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__wvgnt {
  object-fit: cover;
}
.img__wvgnt > picture > img {
  object-fit: cover;
}
.img__wvgnt > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__xE5G2 {
  object-fit: cover;
}
.img__xE5G2 > picture > img {
  object-fit: cover;
}
.img__xE5G2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__hrn27 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #16b3ac;
}
.link__jZHy2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #16b3ac;
}
.link__yrzas {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #16b3ac;
}
.link__xfx17 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #16b3ac;
}
.freeBox__kY1UP {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 92px 0px 72px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___7Xzgm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column___7Xzgm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column___7Xzgm > :global(.__wab_flex-container) > *,
.column___7Xzgm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___7Xzgm > :global(.__wab_flex-container) > picture > img,
.column___7Xzgm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    font-size: 36px;
  }
}
.column___6XIuV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__axSti {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__axSti > picture > img {
  object-fit: cover;
}
.img__axSti > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__axSti {
    display: none !important;
  }
}
.freeBox___4PhDc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 92px 0px 72px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4PhDc {
    padding-top: 0px;
  }
}
.freeBox__hfGoJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__hfGoJ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__hfGoJ > :global(.__wab_flex-container) > *,
.freeBox__hfGoJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hfGoJ > :global(.__wab_flex-container) > picture > img,
.freeBox__hfGoJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 24px;
  min-width: 0;
}
.link__imcOm {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ebf7f7;
  box-shadow: 0px 4px 8px 0px #00000033;
  cursor: pointer;
  min-width: 0;
  border-radius: 12px;
  padding: 32px;
}
.link__imcOm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.link__imcOm > :global(.__wab_flex-container) > *,
.link__imcOm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__imcOm > :global(.__wab_flex-container) > picture > img,
.link__imcOm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__wscPx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__wscPx > picture > img {
  object-fit: cover;
}
.img__wscPx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h5__aqyF7 {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg___5Fpx1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.link__v9VWi {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ebf7f7;
  box-shadow: 0px 4px 8px 0px #00000033;
  cursor: pointer;
  min-width: 0;
  border-radius: 12px;
  padding: 32px;
}
.link__v9VWi > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.link__v9VWi > :global(.__wab_flex-container) > *,
.link__v9VWi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__v9VWi > :global(.__wab_flex-container) > picture > img,
.link__v9VWi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__iW7Vl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__iW7Vl > picture > img {
  object-fit: cover;
}
.img__iW7Vl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h5__wHdjh {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__hcmcf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.link__wdDGu {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ebf7f7;
  box-shadow: 0px 4px 8px 0px #00000033;
  cursor: pointer;
  min-width: 0;
  border-radius: 12px;
  padding: 32px;
}
.link__wdDGu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.link__wdDGu > :global(.__wab_flex-container) > *,
.link__wdDGu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__wdDGu > :global(.__wab_flex-container) > picture > img,
.link__wdDGu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__qpwZw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__qpwZw > picture > img {
  object-fit: cover;
}
.img__qpwZw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h5__ycpct {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__dgI7T {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.link__anzDb {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ebf7f7;
  box-shadow: 0px 4px 8px 0px #00000033;
  cursor: pointer;
  min-width: 0;
  border-radius: 12px;
  padding: 32px;
}
.link__anzDb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.link__anzDb > :global(.__wab_flex-container) > *,
.link__anzDb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__anzDb > :global(.__wab_flex-container) > picture > img,
.link__anzDb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img___5XPva {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___5XPva > picture > img {
  object-fit: cover;
}
.img___5XPva > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h5__rjIx2 {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__f8MuY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.link__cOmQu {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ebf7f7;
  box-shadow: 0px 4px 8px 0px #00000033;
  cursor: pointer;
  min-width: 0;
  border-radius: 12px;
  padding: 32px;
}
.link__cOmQu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.link__cOmQu > :global(.__wab_flex-container) > *,
.link__cOmQu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__cOmQu > :global(.__wab_flex-container) > picture > img,
.link__cOmQu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__kywPw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__kywPw > picture > img {
  object-fit: cover;
}
.img__kywPw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h5__jbr4Z {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__kwawh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #27ada7;
  min-width: 0;
}
.footer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.footer > :global(.__wab_flex-container) > *,
.footer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footer > :global(.__wab_flex-container) > picture > img,
.footer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__fXpT4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.freeBox__fXpT4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__fXpT4 > :global(.__wab_flex-container) > *,
.freeBox__fXpT4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fXpT4 > :global(.__wab_flex-container) > picture > img,
.freeBox__fXpT4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__kUrgY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  min-width: 0;
}
.text__vY70 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  min-width: 0;
}
