.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1280px;
  justify-self: flex-start;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  grid-column-start: 1;
  grid-column-end: -1;
}
.logo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 50px;
}
.logo > picture > img {
  object-fit: cover;
}
.logo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__pPkBt {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 50px;
  min-width: 0;
}
.freeBox__pPkBt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__pPkBt > :global(.__wab_flex-container) > *,
.freeBox__pPkBt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pPkBt > :global(.__wab_flex-container) > picture > img,
.freeBox__pPkBt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pPkBt {
    display: none;
  }
}
.link__fbtRz {
  position: relative;
  font-size: 16px;
  color: #000000;
}
.link__aRd4Y {
  position: relative;
  color: #000000;
}
.link__xYh0Y {
  position: relative;
  color: #000000;
}
.link__bFjv8 {
  position: relative;
  color: #000000;
}
.link__sApOb {
  position: relative;
  height: auto;
  color: #000000;
}
.link__avBtv {
  position: relative;
  color: #000000;
}
.button {
  position: relative;
  height: auto;
  cursor: pointer;
  display: none;
  border-style: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button {
    display: flex;
  }
}
.svg___0A88X {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.menuoverlay {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  padding: 72px 80px 8px;
}
.menuoverlay > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.menuoverlay > :global(.__wab_flex-container) > *,
.menuoverlay > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menuoverlay > :global(.__wab_flex-container) > picture > img,
.menuoverlay
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuoverlay {
    display: flex;
  }
}
.link___0ZxI {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  min-width: 0;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.logo2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 50px;
  flex-shrink: 0;
}
.logo2 > picture > img {
  object-fit: cover;
}
.logo2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__iwsiZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__iwsiZ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__iwsiZ > :global(.__wab_flex-container) > *,
.freeBox__iwsiZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iwsiZ > :global(.__wab_flex-container) > picture > img,
.freeBox__iwsiZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iwsiZ {
    display: flex;
  }
}
.link__ncZpq {
  position: relative;
  font-size: 16px;
  color: #000000;
}
.link__kqIyi {
  position: relative;
  color: #000000;
}
.link__uqd8R {
  position: relative;
  color: #000000;
}
.link___8J3A1 {
  position: relative;
  color: #000000;
}
.link__x11W1 {
  position: relative;
  height: auto;
  color: #000000;
}
.link__iqAxm {
  position: relative;
  color: #000000;
}
