.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
}
:where(.root > *) {
  grid-column: 4;
}
.header {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 82px;
  max-width: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
}
.svg__rxi2Y {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.freeBox__tjtIg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 82px;
  background: radial-gradient(
      ellipse 40% 60% at 5% 5%,
      #ccfffd 0%,
      #ffffff 100%
    )
    0% 0% / 100% 100% repeat;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 76px 0px;
}
.columns__tCdRu {
  --plsmc-rc-col-gap: 0px;
}
.columns__tCdRu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__tCdRu > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__tCdRu > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tCdRu {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tCdRu > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ghaKx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__ghaKx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__ghaKx > :global(.__wab_flex-container) > *,
.column__ghaKx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ghaKx > :global(.__wab_flex-container) > picture > img,
.column__ghaKx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.2;
  min-width: 0;
}
.text__p3XzN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__tlvHl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__bwMb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 76px 0px;
}
.freeBox__bwMb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__bwMb > :global(.__wab_flex-container) > *,
.freeBox__bwMb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bwMb > :global(.__wab_flex-container) > picture > img,
.freeBox__bwMb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.columns__q7JkP {
  --plsmc-rc-col-gap: 0px;
}
.columns__q7JkP {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  flex-shrink: 1;
  flex-wrap: nowrap;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.columns__q7JkP > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__q7JkP > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__q7JkP {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__q7JkP > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__jYpEx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__jYpEx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__jYpEx > :global(.__wab_flex-container) > *,
.column__jYpEx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__jYpEx > :global(.__wab_flex-container) > picture > img,
.column__jYpEx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.2;
  min-width: 0;
}
.column__ckJfj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__cYuK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.freeBox__cYuK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__cYuK > :global(.__wab_flex-container) > *,
.freeBox__cYuK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cYuK > :global(.__wab_flex-container) > picture > img,
.freeBox__cYuK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.freeBox___2HmOe {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox___2HmOe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___2HmOe > :global(.__wab_flex-container) > *,
.freeBox___2HmOe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2HmOe > :global(.__wab_flex-container) > picture > img,
.freeBox___2HmOe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__r0Ds9 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__r0Ds9 > picture > img {
  object-fit: contain;
}
.img__r0Ds9 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__l8V0R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__l8V0R > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__l8V0R > :global(.__wab_flex-container) > *,
.freeBox__l8V0R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l8V0R > :global(.__wab_flex-container) > picture > img,
.freeBox__l8V0R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__zdLxq {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text___7K2K9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__v5CCd {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__v5CCd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__v5CCd > :global(.__wab_flex-container) > *,
.freeBox__v5CCd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v5CCd > :global(.__wab_flex-container) > picture > img,
.freeBox__v5CCd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__diOhG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__diOhG > picture > img {
  object-fit: cover;
}
.img__diOhG > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___66Fx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___66Fx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___66Fx > :global(.__wab_flex-container) > *,
.freeBox___66Fx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___66Fx > :global(.__wab_flex-container) > picture > img,
.freeBox___66Fx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5___64ERf {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__aQMpA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__rAad9 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__rAad9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__rAad9 > :global(.__wab_flex-container) > *,
.freeBox__rAad9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rAad9 > :global(.__wab_flex-container) > picture > img,
.freeBox__rAad9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__rwW4O {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__rwW4O > picture > img {
  object-fit: contain;
}
.img__rwW4O > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__lCbsr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__lCbsr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__lCbsr > :global(.__wab_flex-container) > *,
.freeBox__lCbsr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lCbsr > :global(.__wab_flex-container) > picture > img,
.freeBox__lCbsr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__gsFxq {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  padding-top: 0px;
  min-width: 0;
}
.text__nIulc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__gEyP {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__gEyP > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__gEyP > :global(.__wab_flex-container) > *,
.freeBox__gEyP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gEyP > :global(.__wab_flex-container) > picture > img,
.freeBox__gEyP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__dex4D {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__dex4D > picture > img {
  object-fit: contain;
}
.img__dex4D > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__h87Rz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__h87Rz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__h87Rz > :global(.__wab_flex-container) > *,
.freeBox__h87Rz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h87Rz > :global(.__wab_flex-container) > picture > img,
.freeBox__h87Rz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__g4UC6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  padding-top: 0px;
  min-width: 0;
}
.text___1Abos {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__lu3U7 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__lu3U7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__lu3U7 > :global(.__wab_flex-container) > *,
.freeBox__lu3U7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lu3U7 > :global(.__wab_flex-container) > picture > img,
.freeBox__lu3U7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__m36A1 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__m36A1 > picture > img {
  object-fit: contain;
}
.img__m36A1 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__iOp3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__iOp3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__iOp3 > :global(.__wab_flex-container) > *,
.freeBox__iOp3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iOp3 > :global(.__wab_flex-container) > picture > img,
.freeBox__iOp3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__waxSo {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__wDfNe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__sMwZb {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__sMwZb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__sMwZb > :global(.__wab_flex-container) > *,
.freeBox__sMwZb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sMwZb > :global(.__wab_flex-container) > picture > img,
.freeBox__sMwZb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img___4C0F9 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img___4C0F9 > picture > img {
  object-fit: contain;
}
.img___4C0F9 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__smTEy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__smTEy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__smTEy > :global(.__wab_flex-container) > *,
.freeBox__smTEy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__smTEy > :global(.__wab_flex-container) > picture > img,
.freeBox__smTEy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__lJbeJ {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__bkTOf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__e4Szx {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__e4Szx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__e4Szx > :global(.__wab_flex-container) > *,
.freeBox__e4Szx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e4Szx > :global(.__wab_flex-container) > picture > img,
.freeBox__e4Szx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img___75Vhe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img___75Vhe > picture > img {
  object-fit: cover;
}
.img___75Vhe > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__kBogs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__kBogs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__kBogs > :global(.__wab_flex-container) > *,
.freeBox__kBogs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kBogs > :global(.__wab_flex-container) > picture > img,
.freeBox__kBogs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5___2PltO {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__ksN9I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__joiFn {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__joiFn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__joiFn > :global(.__wab_flex-container) > *,
.freeBox__joiFn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__joiFn > :global(.__wab_flex-container) > picture > img,
.freeBox__joiFn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img___3SrxI {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img___3SrxI > picture > img {
  object-fit: contain;
}
.img___3SrxI > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__bgNhq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__bgNhq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__bgNhq > :global(.__wab_flex-container) > *,
.freeBox__bgNhq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bgNhq > :global(.__wab_flex-container) > picture > img,
.freeBox__bgNhq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__vQxVm {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__b1TIo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__vrjsJ {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__vrjsJ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__vrjsJ > :global(.__wab_flex-container) > *,
.freeBox__vrjsJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vrjsJ > :global(.__wab_flex-container) > picture > img,
.freeBox__vrjsJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__senGq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__senGq > picture > img {
  object-fit: cover;
}
.img__senGq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__wGwEo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__wGwEo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__wGwEo > :global(.__wab_flex-container) > *,
.freeBox__wGwEo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wGwEo > :global(.__wab_flex-container) > picture > img,
.freeBox__wGwEo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__jEJy {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__iOcIp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox___6Oaz {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox___6Oaz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___6Oaz > :global(.__wab_flex-container) > *,
.freeBox___6Oaz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Oaz > :global(.__wab_flex-container) > picture > img,
.freeBox___6Oaz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__qmAw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__qmAw > picture > img {
  object-fit: cover;
}
.img__qmAw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__rZ65A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__rZ65A > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__rZ65A > :global(.__wab_flex-container) > *,
.freeBox__rZ65A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rZ65A > :global(.__wab_flex-container) > picture > img,
.freeBox__rZ65A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__ehfIr {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  padding-left: 0px;
  min-width: 0;
}
.text__aMeMw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__u55T {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px;
}
.link__q4ZP {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background: #f9fafb;
  border-radius: 8px;
  padding: 16px;
}
.text___1YDc {
  position: relative;
}
.link__wknDb {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background: #ffffff;
  border-radius: 8px;
  padding: 16px;
}
.text__kFgK5 {
  position: relative;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #ffffff;
  grid-column-start: 1;
  grid-column-end: -1;
}
.footer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.footer > :global(.__wab_flex-container) > *,
.footer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footer > :global(.__wab_flex-container) > picture > img,
.footer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox___3WKx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.freeBox___3WKx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___3WKx > :global(.__wab_flex-container) > *,
.freeBox___3WKx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3WKx > :global(.__wab_flex-container) > picture > img,
.freeBox___3WKx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__zeFds {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  text-align: center;
  min-width: 0;
}
.text__uwOrm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  min-width: 0;
}
.menuOverlay:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.link___084Tp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  color: #000000;
  justify-content: flex-end;
  align-items: flex-start;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 16px;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link__pLrk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  color: #000000;
  min-width: 0;
  padding: 16px;
}
.text___3LcVw {
  position: relative;
  padding-bottom: 0px;
}
.link__oakYj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  color: #000000;
  min-width: 0;
  padding: 16px;
}
.text__bxKja {
  position: relative;
  padding-top: 0px;
}
.link___3Y3Pe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  color: #000000;
  min-width: 0;
  padding: 16px;
}
.text__stOj2 {
  position: relative;
  padding-bottom: 0px;
  padding-top: 0px;
}
.link__aRl8B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  color: #000000;
  min-width: 0;
  padding: 16px;
}
.text__duIo {
  position: relative;
  padding-top: 0px;
}
