.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 12px 16px 0px #53535326;
  position: relative;
  min-width: 0;
  border-radius: 24px;
  padding: 56px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.buttonWrapper {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.buttonWrapper > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.buttonWrapper > :global(.__wab_flex-container) > *,
.buttonWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonWrapper > :global(.__wab_flex-container) > picture > img,
.buttonWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__uBTvq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__yyrBz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__vvwNs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__qNx4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__pc1Hf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__dGpN0 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link {
  position: relative;
  display: flex;
  flex-direction: row;
}
.text__dcamJ {
  position: relative;
}
.sliderMitra:global(.__wab_instance) {
  position: relative;
  height: auto;
}
.slider:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.sliderisDiawasi:global(.__wab_instance) {
  height: 100%;
  min-height: 0;
}
.img__gilyS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__gilyS > picture > img {
  object-fit: cover;
}
.img__gilyS > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__oZun8 {
  padding-top: 0px;
}
.img__ebq22 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ebq22 > picture > img {
  object-fit: cover;
}
.img__ebq22 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__qzUa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__qzUa > picture > img {
  object-fit: cover;
}
.img__qzUa > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__kCSoa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__kCSoa > picture > img {
  object-fit: cover;
}
.img__kCSoa > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
