.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 12px 8px 8px;
}
.link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  box-shadow: 0px 0px 12px 0px #00000014;
  min-width: 0;
  padding: 16px;
}
.link > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.link > :global(.__wab_flex-container) > *,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link > :global(.__wab_flex-container) > picture > img,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.linkisTerdaftar {
  display: flex;
}
.img__x2KvD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__x2KvD > picture > img {
  object-fit: cover;
}
.img__x2KvD > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
