.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
}
:where(.root > *) {
  grid-column: 4;
}
.header {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 82px;
  max-width: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
}
.svg__wgAi {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.freeBox__gdWf8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 82px;
  background: radial-gradient(
      ellipse 40% 60% at 5% 5%,
      #ccfffd 0%,
      #ffffff 100%
    )
    0% 0% / 100% 100% repeat;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 76px 0px;
}
.columns__p2KKy {
  --plsmc-rc-col-gap: 0px;
}
.columns__p2KKy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__p2KKy > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__p2KKy > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__p2KKy {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__p2KKy > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__fRa6H {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__fRa6H > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__fRa6H > :global(.__wab_flex-container) > *,
.column__fRa6H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__fRa6H > :global(.__wab_flex-container) > picture > img,
.column__fRa6H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.2;
  min-width: 0;
}
.text__vfO4N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___6UWjk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__hbSn0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 76px 0px;
}
.freeBox__hbSn0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__hbSn0 > :global(.__wab_flex-container) > *,
.freeBox__hbSn0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hbSn0 > :global(.__wab_flex-container) > picture > img,
.freeBox__hbSn0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.columns__uxm2M {
  --plsmc-rc-col-gap: 0px;
}
.columns__uxm2M {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  flex-shrink: 1;
  flex-wrap: nowrap;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.columns__uxm2M > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__uxm2M > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uxm2M {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uxm2M > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__vzDFz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__vzDFz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__vzDFz > :global(.__wab_flex-container) > *,
.column__vzDFz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__vzDFz > :global(.__wab_flex-container) > picture > img,
.column__vzDFz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.2;
  min-width: 0;
}
.column__pe2U5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox___3LQwd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.freeBox___3LQwd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___3LQwd > :global(.__wab_flex-container) > *,
.freeBox___3LQwd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3LQwd > :global(.__wab_flex-container) > picture > img,
.freeBox___3LQwd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.freeBox___2Zm2 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox___2Zm2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___2Zm2 > :global(.__wab_flex-container) > *,
.freeBox___2Zm2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Zm2 > :global(.__wab_flex-container) > picture > img,
.freeBox___2Zm2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__nUmC {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__nUmC > picture > img {
  object-fit: contain;
}
.img__nUmC > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__gQgQq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__gQgQq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__gQgQq > :global(.__wab_flex-container) > *,
.freeBox__gQgQq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gQgQq > :global(.__wab_flex-container) > picture > img,
.freeBox__gQgQq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__igy5S {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text___8G7Ko {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__blI7W {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__blI7W > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__blI7W > :global(.__wab_flex-container) > *,
.freeBox__blI7W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__blI7W > :global(.__wab_flex-container) > picture > img,
.freeBox__blI7W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__j4L4D {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
}
.img__j4L4D > picture > img {
  object-fit: cover;
}
.img__j4L4D > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___2AgN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___2AgN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___2AgN > :global(.__wab_flex-container) > *,
.freeBox___2AgN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2AgN > :global(.__wab_flex-container) > picture > img,
.freeBox___2AgN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__mpnNl {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  padding-bottom: 0px;
  min-width: 0;
}
.text__wflwM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__zsnfa {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__zsnfa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__zsnfa > :global(.__wab_flex-container) > *,
.freeBox__zsnfa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zsnfa > :global(.__wab_flex-container) > picture > img,
.freeBox__zsnfa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__sPjfP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__sPjfP > picture > img {
  object-fit: cover;
}
.img__sPjfP > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__ksY8Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ksY8Z > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__ksY8Z > :global(.__wab_flex-container) > *,
.freeBox__ksY8Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ksY8Z > :global(.__wab_flex-container) > picture > img,
.freeBox__ksY8Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__tpKkt {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  padding-top: 0px;
  min-width: 0;
}
.text__bbva2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__yoDvQ {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__yoDvQ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__yoDvQ > :global(.__wab_flex-container) > *,
.freeBox__yoDvQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yoDvQ > :global(.__wab_flex-container) > picture > img,
.freeBox__yoDvQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img___5BZFz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img___5BZFz > picture > img {
  object-fit: cover;
}
.img___5BZFz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__fbpaR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__fbpaR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__fbpaR > :global(.__wab_flex-container) > *,
.freeBox__fbpaR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fbpaR > :global(.__wab_flex-container) > picture > img,
.freeBox__fbpaR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__kXLpd {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  padding-top: 0px;
  min-width: 0;
}
.text__laLfZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__awCe {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__awCe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__awCe > :global(.__wab_flex-container) > *,
.freeBox__awCe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__awCe > :global(.__wab_flex-container) > picture > img,
.freeBox__awCe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__jicmr {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__jicmr > picture > img {
  object-fit: contain;
}
.img__jicmr > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__gh3C4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__gh3C4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__gh3C4 > :global(.__wab_flex-container) > *,
.freeBox__gh3C4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gh3C4 > :global(.__wab_flex-container) > picture > img,
.freeBox__gh3C4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__og5Jb {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text___8Nz0J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__g13RU {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__g13RU > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__g13RU > :global(.__wab_flex-container) > *,
.freeBox__g13RU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g13RU > :global(.__wab_flex-container) > picture > img,
.freeBox__g13RU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img___3JiMp {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
}
.img___3JiMp > picture > img {
  object-fit: contain;
}
.img___3JiMp > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__jeKCk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__jeKCk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__jeKCk > :global(.__wab_flex-container) > *,
.freeBox__jeKCk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jeKCk > :global(.__wab_flex-container) > picture > img,
.freeBox__jeKCk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__fYUa {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  padding-top: 0px;
  min-width: 0;
}
.text__pn9NT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox___18Lc {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox___18Lc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___18Lc > :global(.__wab_flex-container) > *,
.freeBox___18Lc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___18Lc > :global(.__wab_flex-container) > picture > img,
.freeBox___18Lc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__r2AOm {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
}
.img__r2AOm > picture > img {
  object-fit: contain;
}
.img__r2AOm > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__ipQdK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ipQdK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__ipQdK > :global(.__wab_flex-container) > *,
.freeBox__ipQdK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ipQdK > :global(.__wab_flex-container) > picture > img,
.freeBox__ipQdK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__bJi {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__utdkV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox___30Ou9 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox___30Ou9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___30Ou9 > :global(.__wab_flex-container) > *,
.freeBox___30Ou9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___30Ou9 > :global(.__wab_flex-container) > picture > img,
.freeBox___30Ou9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img___7122X {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
}
.img___7122X > picture > img {
  object-fit: contain;
}
.img___7122X > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__kVoz0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__kVoz0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__kVoz0 > :global(.__wab_flex-container) > *,
.freeBox__kVoz0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kVoz0 > :global(.__wab_flex-container) > picture > img,
.freeBox__kVoz0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__r395 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__c3XCe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__bYW6 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__bYW6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__bYW6 > :global(.__wab_flex-container) > *,
.freeBox__bYW6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bYW6 > :global(.__wab_flex-container) > picture > img,
.freeBox__bYW6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__awtp0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__awtp0 > picture > img {
  object-fit: cover;
}
.img__awtp0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__aL7E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__aL7E > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__aL7E > :global(.__wab_flex-container) > *,
.freeBox__aL7E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aL7E > :global(.__wab_flex-container) > picture > img,
.freeBox__aL7E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__go63F {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text__mvAC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__jyoTy {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dde2e4;
}
.freeBox__jyoTy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__jyoTy > :global(.__wab_flex-container) > *,
.freeBox__jyoTy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jyoTy > :global(.__wab_flex-container) > picture > img,
.freeBox__jyoTy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__y62IZ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 12px;
}
.img__y62IZ > picture > img {
  object-fit: cover;
}
.img__y62IZ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__h14Tp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__h14Tp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__h14Tp > :global(.__wab_flex-container) > *,
.freeBox__h14Tp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h14Tp > :global(.__wab_flex-container) > picture > img,
.freeBox__h14Tp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h5__jq2Of {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.text___1Mf33 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #404040;
  min-width: 0;
}
.freeBox__bf9Uf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px;
}
.link__nErHw {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background: #ffffff;
  border-radius: 8px;
  padding: 16px;
}
.text__yhzsD {
  position: relative;
}
.link__qWXdM {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
}
.text__ng0AG {
  position: relative;
}
.link__lwvBk {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
}
.text__yVfAe {
  position: relative;
}
.link__jeg2 {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
}
.text__u1Sox {
  position: relative;
}
.link__z92Qj {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
}
.text___4Z9WU {
  position: relative;
}
.link__ps7Rk {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background: #f9fafb;
  border-radius: 8px;
  padding: 16px;
}
.text__cGlxD {
  position: relative;
}
.link__sn5Ad {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
}
.text__meTmA {
  position: relative;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #ffffff;
  grid-column-start: 1;
  grid-column-end: -1;
}
.footer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.footer > :global(.__wab_flex-container) > *,
.footer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footer > :global(.__wab_flex-container) > picture > img,
.footer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__t4YcY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.freeBox__t4YcY > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__t4YcY > :global(.__wab_flex-container) > *,
.freeBox__t4YcY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t4YcY > :global(.__wab_flex-container) > picture > img,
.freeBox__t4YcY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text___6Kb5C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  text-align: center;
  min-width: 0;
}
.text___6B5Ex {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  min-width: 0;
}
