.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
}
:where(.root > *) {
  grid-column: 4;
}
.freeBox___4UhfL {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 82px;
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #ffffff;
  min-width: 0;
}
.navbarv2:global(.__wab_instance) {
  max-width: 1280px;
}
.link__eLIj {
  position: relative;
  font-size: 14px;
  color: #000000;
}
.link__de63S {
  position: relative;
  color: #000000;
}
.link__kyIpk {
  position: relative;
  height: auto;
  color: #000000;
}
.link___5DXr {
  position: relative;
  color: #000000;
}
.svg__ajOvm {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.freeBox__yVqwH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(306deg, #ffffff 67%, #ccfffd 100%);
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 92px 0px 72px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 0px 0px 16px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__vHm1T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.column__vHm1T > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__vHm1T > :global(.__wab_flex-container) > *,
.column__vHm1T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__vHm1T > :global(.__wab_flex-container) > picture > img,
.column__vHm1T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.column__vHm1T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: none;
  min-width: 0;
  padding: 8px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -1px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 36px;
  }
}
.text__xfEcf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.column__aqOen {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__spFn9 {
  display: block;
  position: relative;
  width: 100%;
  height: 600px;
  max-width: 100%;
  background: url("/plasmic/sandbox_satuhsehat/images/bgDocspng.png") top 0% right 1.27% / contain no-repeat;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__spFn9 {
    height: 400px;
    flex-shrink: 0;
  }
}
.svg__rmtib {
  position: sticky;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  left: 0px;
  top: auto;
  z-index: 1;
  bottom: 72px;
  flex-shrink: 0;
}
.freeBox___8ZvpG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(43deg, #118fab 0%, #04958e 100%);
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 72px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8ZvpG {
    padding-top: 32px;
  }
}
.freeBox__di8Gs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__di8Gs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__di8Gs > :global(.__wab_flex-container) > *,
.freeBox__di8Gs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__di8Gs > :global(.__wab_flex-container) > picture > img,
.freeBox__di8Gs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__di8Gs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.h2__g6Efj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 24px;
  color: #ffffff;
  font-weight: 400;
  min-width: 0;
  display: block;
}
.text__wtME {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  min-width: 0;
  display: block;
}
.link__g8GWo {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ebf7f7;
  box-shadow: 0px 12px 20px 0px #00000014;
  cursor: pointer;
  margin-bottom: 32px;
  min-width: 0;
  border-radius: 12px;
  padding: 32px;
}
.link__g8GWo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.link__g8GWo > :global(.__wab_flex-container) > *,
.link__g8GWo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__g8GWo > :global(.__wab_flex-container) > picture > img,
.link__g8GWo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.link__g8GWo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ebf7f7;
  box-shadow: 0px 12px 20px 0px #00000014;
  cursor: pointer;
  margin-bottom: 32px;
  min-width: 0;
  border-radius: 12px;
  padding: 32px;
}
.img___9CqUh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___9CqUh > picture > img {
  object-fit: cover;
}
.img___9CqUh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h5___6DLlO {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__ed9V5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.h2__deZyE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 24px;
  margin-top: calc(24px + 24px) !important;
  color: #ffffff;
  font-weight: 400;
  min-width: 0;
}
.text___4U6Mu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  min-width: 0;
}
.link___0YPn4 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ebf7f7;
  box-shadow: 0px 12px 20px 0px #00000014;
  cursor: pointer;
  min-width: 0;
  border-radius: 12px;
  padding: 32px;
}
.link___0YPn4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.link___0YPn4 > :global(.__wab_flex-container) > *,
.link___0YPn4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___0YPn4 > :global(.__wab_flex-container) > picture > img,
.link___0YPn4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.link___0YPn4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ebf7f7;
  box-shadow: 0px 12px 20px 0px #00000014;
  cursor: pointer;
  min-width: 0;
  border-radius: 12px;
  padding: 32px;
}
.img__kCyLo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 34px;
  height: 34px;
  flex-shrink: 0;
}
.img__kCyLo > picture > img {
  object-fit: cover;
}
.img__kCyLo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h5__vi6Gv {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__rmHpd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.link__rmlD3 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ebf7f7;
  box-shadow: 0px 12px 20px 0px #00000014;
  cursor: pointer;
  min-width: 0;
  border-radius: 12px;
  padding: 32px;
}
.link__rmlD3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.link__rmlD3 > :global(.__wab_flex-container) > *,
.link__rmlD3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__rmlD3 > :global(.__wab_flex-container) > picture > img,
.link__rmlD3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.link__rmlD3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ebf7f7;
  box-shadow: 0px 12px 20px 0px #00000014;
  cursor: pointer;
  min-width: 0;
  border-radius: 12px;
  padding: 32px;
}
.img__o3Mwz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__o3Mwz > picture > img {
  object-fit: cover;
}
.img__o3Mwz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h5__q8L89 {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__j7Vvf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.link__wpdL {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ebf7f7;
  box-shadow: 0px 12px 20px 0px #00000014;
  cursor: pointer;
  min-width: 0;
  border-radius: 12px;
  padding: 32px;
}
.link__wpdL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.link__wpdL > :global(.__wab_flex-container) > *,
.link__wpdL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__wpdL > :global(.__wab_flex-container) > picture > img,
.link__wpdL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.link__wpdL {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ebf7f7;
  box-shadow: 0px 12px 20px 0px #00000014;
  cursor: pointer;
  min-width: 0;
  border-radius: 12px;
  padding: 32px;
}
.img__qgggo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__qgggo > picture > img {
  object-fit: cover;
}
.img__qgggo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h5__as8Vi {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__jD7B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #00625d;
  grid-column-start: 1;
  grid-column-end: -1;
}
.footer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.footer > :global(.__wab_flex-container) > *,
.footer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footer > :global(.__wab_flex-container) > picture > img,
.footer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #00625d;
  grid-column-start: 1;
  grid-column-end: -1;
}
.freeBox__gkLb3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.freeBox__gkLb3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__gkLb3 > :global(.__wab_flex-container) > *,
.freeBox__gkLb3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gkLb3 > :global(.__wab_flex-container) > picture > img,
.freeBox__gkLb3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__gkLb3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.text__bHFqU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  min-width: 0;
}
.text__qYDkC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  min-width: 0;
}
