.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.pageMetadataOverride:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.header {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 82px;
  max-width: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  flex-shrink: 0;
}
.svg__rlS2Z {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#ffffff, #ffffff),
    url("/plasmic/sandbox_satuhsehat/images/bannerNewpng.png") top 50% left 50% / cover repeat;
  margin-top: 82px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero {
    background: none;
  }
}
.slider:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  height: 485px;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slider:global(.__wab_instance) {
    height: auto;
  }
}
.link__txzf2 {
  display: flex;
}
.img__jmQ7 {
  object-fit: cover;
  max-width: 100%;
}
.img__jmQ7 > picture > img {
  object-fit: cover;
}
.img__jmQ7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__mcgHc {
  display: flex;
}
.img__mfTk {
  object-fit: cover;
  max-width: 100%;
}
.img__mfTk > picture > img {
  object-fit: cover;
}
.img__mfTk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__nxaq6 {
  display: flex;
}
.img__k255W {
  object-fit: cover;
  max-width: 100%;
}
.img__k255W > picture > img {
  object-fit: cover;
}
.img__k255W > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.hero2 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 485px;
  max-width: 100%;
  background: url("/plasmic/sandbox_satuhsehat/images/bannerNewpng.png") top 50% left 50% / cover repeat;
  margin-top: 82px;
  min-width: 0;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero2 {
    background: url("/plasmic/sandbox_satuhsehat/images/bannerNewpng.png") top 50% left 0% / cover repeat;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.columns__dcdaa {
  --plsmc-rc-col-gap: 0px;
}
.columns__dcdaa {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.columns__dcdaa > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__dcdaa > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dcdaa {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    background: none;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dcdaa > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__kImIp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__kImIp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__kImIp > :global(.__wab_flex-container) > *,
.column__kImIp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__kImIp > :global(.__wab_flex-container) > picture > img,
.column__kImIp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  letter-spacing: -2px;
  font-size: 60px;
  font-weight: 500;
  min-width: 0;
}
.h5__z8AOt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  letter-spacing: normal;
  font-weight: 400;
  min-width: 0;
}
.h4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  letter-spacing: normal;
  font-weight: 600;
  min-width: 0;
}
.column___9TWv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___9TWv {
    display: none;
  }
}
.about {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 76px 0px;
}
.freeBox__qan96 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 910px;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__qan96 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__qan96 > :global(.__wab_flex-container) > *,
.freeBox__qan96 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qan96 > :global(.__wab_flex-container) > picture > img,
.freeBox__qan96
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2__yEIu4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  text-align: center;
  min-width: 0;
}
.text__zzPlk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  min-width: 0;
}
.img__zrFgH {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 910px;
}
.img__zrFgH > picture > img {
  object-fit: cover;
}
.img__zrFgH > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__y9Ru {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  min-width: 0;
}
.mitra {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 72px 0px;
}
.freeBox__pzuXb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__pzuXb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__pzuXb > :global(.__wab_flex-container) > *,
.freeBox__pzuXb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pzuXb > :global(.__wab_flex-container) > picture > img,
.freeBox__pzuXb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2__tEnp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: left;
  padding-bottom: 32px;
  font-weight: 400;
  line-height: 150%;
  min-width: 0;
}
.slideMitra:global(.__wab_instance) {
  position: relative;
}
.why {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f9f9f9;
  min-width: 0;
  padding: 72px 0px;
}
.freeBox__vh9Yt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__vh9Yt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__vh9Yt > :global(.__wab_flex-container) > *,
.freeBox__vh9Yt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vh9Yt > :global(.__wab_flex-container) > picture > img,
.freeBox__vh9Yt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2___2Gg4F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  padding-bottom: 32px;
  font-weight: 400;
  line-height: 150%;
  min-width: 0;
}
.columns__xijfK {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
}
.columns__xijfK > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
}
.columns__xijfK > :global(.__wab_flex-container) > *,
.columns__xijfK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__xijfK > :global(.__wab_flex-container) > picture > img,
.columns__xijfK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.columns__xijfK {
  --plsmc-rc-col-gap: 0px;
}
.columns__xijfK > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__xijfK > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__xijfK > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xijfK {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xijfK > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xijfK > :global(.__wab_flex-container) > *,
  .columns__xijfK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__xijfK > :global(.__wab_flex-container) > picture > img,
  .columns__xijfK
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xijfK > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___63U1X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__b3CtD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 20px 40px 0px #00000014;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 24px;
}
.freeBox__b3CtD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__b3CtD > :global(.__wab_flex-container) > *,
.freeBox__b3CtD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b3CtD > :global(.__wab_flex-container) > picture > img,
.freeBox__b3CtD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.svg__jwRrk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  color: #01b3ac;
  flex-shrink: 0;
}
.text__ucds2 {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.column__jw9JM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__lgyE5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 20px 40px 0px #00000014;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 24px;
}
.freeBox__lgyE5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__lgyE5 > :global(.__wab_flex-container) > *,
.freeBox__lgyE5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lgyE5 > :global(.__wab_flex-container) > picture > img,
.freeBox__lgyE5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.svg___7UqId {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  color: #01b3ac;
  flex-shrink: 0;
}
.text__slqHa {
  width: 100%;
  height: auto;
  min-width: 0;
}
.column___4FdP9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__ycgh8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 20px 40px 0px #00000014;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 24px;
}
.freeBox__ycgh8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__ycgh8 > :global(.__wab_flex-container) > *,
.freeBox__ycgh8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ycgh8 > :global(.__wab_flex-container) > picture > img,
.freeBox__ycgh8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.svg__byYlp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}
.text__pYrax {
  width: 100%;
  height: auto;
  min-width: 0;
}
.who {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 72px 0px;
}
.freeBox__aZytH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__aZytH > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__aZytH > :global(.__wab_flex-container) > *,
.freeBox__aZytH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aZytH > :global(.__wab_flex-container) > picture > img,
.freeBox__aZytH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2__zdXI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-weight: 400;
  min-width: 0;
}
.text__y103O {
  position: relative;
  width: 100%;
  max-width: 600px;
  text-align: center;
  padding-bottom: 32px;
  min-width: 0;
}
.freeBox__yCuJ {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yCuJ {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__qu8F5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.card5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ebf3fb;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 24px;
}
.card5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card5 > :global(.__wab_flex-container) > *,
.card5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card5 > :global(.__wab_flex-container) > picture > img,
.card5 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.freeBox__rqhvC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  border-radius: 200px;
}
.svg__aedGz {
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}
.h5__c3PWx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.freeBox__xaE3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.card6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #e8f5e9;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 24px;
}
.card6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card6 > :global(.__wab_flex-container) > *,
.card6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card6 > :global(.__wab_flex-container) > picture > img,
.card6 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.freeBox__jN1LR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  border-radius: 200px;
}
.svg__sr0C {
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}
.h5__nwOmu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.freeBox__gF8Md {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.card7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #f5ebff;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 24px;
}
.card7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card7 > :global(.__wab_flex-container) > *,
.card7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card7 > :global(.__wab_flex-container) > picture > img,
.card7 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.freeBox__wSvg6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  border-radius: 200px;
}
.svg__zVpBd {
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}
.h5__vRg7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.freeBox__egI7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.card8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #fff3d6;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 24px;
}
.card8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.card8 > :global(.__wab_flex-container) > *,
.card8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card8 > :global(.__wab_flex-container) > picture > img,
.card8 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.freeBox__iv8B {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  border-radius: 200px;
}
.svg___1AUiK {
  object-fit: cover;
  max-width: 100%;
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}
.h5__o2Z93 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.h5__kQIvr {
  position: relative;
  padding-top: 32px;
}
.faq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 72px 0px;
}
.freeBox__nHyxB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__nHyxB > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__nHyxB > :global(.__wab_flex-container) > *,
.freeBox__nHyxB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nHyxB > :global(.__wab_flex-container) > picture > img,
.freeBox__nHyxB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2__oNw5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-weight: 400;
  padding-bottom: 32px;
  min-width: 0;
}
.columns__vpLwB {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 0px 16px;
}
.columns__vpLwB > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
}
.columns__vpLwB > :global(.__wab_flex-container) > *,
.columns__vpLwB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__vpLwB > :global(.__wab_flex-container) > picture > img,
.columns__vpLwB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.columns__vpLwB {
  --plsmc-rc-col-gap: 0px;
}
.columns__vpLwB > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__vpLwB > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vpLwB {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vpLwB > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vpLwB > :global(.__wab_flex-container) > *,
  .columns__vpLwB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__vpLwB > :global(.__wab_flex-container) > picture > img,
  .columns__vpLwB
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vpLwB > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ic74O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__ic74O > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__ic74O > :global(.__wab_flex-container) > *,
.column__ic74O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ic74O > :global(.__wab_flex-container) > picture > img,
.column__ic74O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.collapsiblev2:global(.__wab_instance) {
  position: relative;
}
.h5__uQyxb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  min-width: 0;
}
.svg___6CnBh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__vxtC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text___3PWl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.collapsiblev22:global(.__wab_instance) {
  position: relative;
}
.h5__eQai {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  min-width: 0;
}
.svg___3F835 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__cgc9X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__pNl7Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.ul__obo0U {
  display: flex;
  position: relative;
}
.li__hoxRg {
  position: relative;
  padding-top: 0px;
}
.li__i8Nat {
  position: relative;
}
.li__pfLex {
  position: relative;
  padding-bottom: 0px;
}
.li__ypBb9 {
  position: relative;
}
.text___8UwO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 16px;
  min-width: 0;
}
.ul__tKwn2 {
  display: flex;
  position: relative;
}
.li__ctaB2 {
  position: relative;
}
.li___606Qm {
  position: relative;
}
.li___17Sk0 {
  position: relative;
}
.li___8DWkz {
  position: relative;
}
.li__vrQ6X {
  position: relative;
}
.li__a5Yi {
  position: relative;
}
.li__iInX {
  position: relative;
}
.li__ibQW {
  position: relative;
  height: auto;
}
.li__nmvWw {
  position: relative;
}
.li__cLMxD {
  position: relative;
}
.li__ePtts {
  position: relative;
}
.collapsiblev23:global(.__wab_instance) {
  position: relative;
}
.h5__vkCcM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  min-width: 0;
}
.svg__tSuG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__yydy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__uSPZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.collapsiblev24:global(.__wab_instance) {
  position: relative;
}
.h5__hmeKr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  padding-top: 0px;
  min-width: 0;
}
.svg__uBvZr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__dkFxT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__keLne {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.collapsiblev25:global(.__wab_instance) {
  position: relative;
}
.h5__nkdY1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  padding-top: 0px;
  min-width: 0;
}
.svg___9E425 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg___3JrKe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__apMc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.collapsiblev26:global(.__wab_instance) {
  position: relative;
}
.h5__jJvVv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  padding-top: 0px;
  min-width: 0;
}
.svg__vvzCj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__yYbOr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__mgycr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.collapsiblev27:global(.__wab_instance) {
  position: relative;
}
.h5___962G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  min-width: 0;
}
.svg___288P9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__buZGg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__g9RAp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__tYrac {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__tYrac > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__tYrac > :global(.__wab_flex-container) > *,
.column__tYrac > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__tYrac > :global(.__wab_flex-container) > picture > img,
.column__tYrac
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.collapsiblev28:global(.__wab_instance) {
  position: relative;
}
.h5__p6Bf0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  min-width: 0;
}
.svg__w9Yzg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__duHxD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__wHuR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.collapsiblev29:global(.__wab_instance) {
  position: relative;
}
.h5__rj5L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  min-width: 0;
}
.svg__rctng {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__nbaG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__kwVhi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.ul__l91Xs {
  display: flex;
  position: relative;
}
.li___5Pwbr {
  position: relative;
}
.li__eNZn {
  position: relative;
  display: flex;
  flex-direction: row;
}
.ul___2AtD {
  display: flex;
  position: relative;
}
.li__cTdp {
  position: relative;
}
.li___3Rpt3 {
  position: relative;
}
.li__pHnF {
  position: relative;
}
.li__nOAwP {
  position: relative;
}
.ul__fjUro {
  display: flex;
  position: relative;
}
.li___53ANe {
  position: relative;
}
.li__gNqBw {
  position: relative;
  display: flex;
  flex-direction: row;
}
.ul__z41C7 {
  display: flex;
  position: relative;
}
.li___30OWf {
  position: relative;
  padding-top: 0px;
}
.li__dkAe {
  position: relative;
}
.li__araM {
  position: relative;
}
.li__ronuH {
  position: relative;
}
.li__c99Ru {
  position: relative;
}
.ul__cfFaP {
  display: flex;
  position: relative;
}
.li__elnA {
  position: relative;
}
.ul__dy3Yn {
  display: flex;
  position: relative;
}
.li__yVUwb {
  position: relative;
}
.text__g3GxD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.collapsiblev210:global(.__wab_instance) {
  position: relative;
}
.h5___7OsN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  min-width: 0;
}
.svg___5STjX {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__qc8LM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__u2Dfb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.collapsiblev211:global(.__wab_instance) {
  position: relative;
}
.h5__amShi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  min-width: 0;
}
.svg__xDksd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__goA3I {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__ro8Ss {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.collapsiblev212:global(.__wab_instance) {
  position: relative;
}
.h5__zZtuz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  min-width: 0;
}
.svg__zvaJm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg___3SycL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__gZzdv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.collapsiblev213:global(.__wab_instance) {
  position: relative;
}
.h5__qsoTd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  min-width: 0;
}
.svg___4Ccy1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__szOng {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__gs1NW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.collapsiblev214:global(.__wab_instance) {
  position: relative;
}
.h5___3U7Qx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 400;
  min-width: 0;
}
.svg___5M2Wt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.svg__qqvU7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #16b3ac;
  display: block;
}
.text__vmCvm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__drWj0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 76px 0px;
}
.freeBox___5RfUx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.columns__ud0N {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  background: linear-gradient(316deg, #3899fe00 76%, #3899fe8a 100%) 0% 0% /
      100% 100% repeat,
    #ebf3fb;
  flex-shrink: 1;
  min-width: 0;
  border-radius: 24px;
  padding: 72px 32px;
}
.columns__ud0N > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.columns__ud0N > :global(.__wab_flex-container) > *,
.columns__ud0N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ud0N > :global(.__wab_flex-container) > picture > img,
.columns__ud0N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
  margin-top: 24px;
}
.columns__ud0N {
  --plsmc-rc-col-gap: 0px;
}
.columns__ud0N > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__ud0N > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ud0N {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ud0N > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ud0N > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__xXimu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__xXimu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__xXimu > :global(.__wab_flex-container) > *,
.column__xXimu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__xXimu > :global(.__wab_flex-container) > picture > img,
.column__xXimu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2__kahSa {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  color: #000000;
  min-width: 0;
}
.text___1QP8P {
  position: relative;
  width: 100%;
  max-width: 600px;
  text-align: left;
  padding-bottom: 32px;
  color: #000000;
  padding-top: 0px;
  min-width: 0;
  display: block;
}
.column__pb40P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__pb40P > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__pb40P > :global(.__wab_flex-container) > *,
.column__pb40P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__pb40P > :global(.__wab_flex-container) > picture > img,
.column__pb40P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__f60L {
  position: relative;
  object-fit: cover;
  width: 60%;
}
.img__f60L > picture > img {
  object-fit: cover;
}
.img__f60L > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #ffffff;
  min-width: 0;
}
.footer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.footer > :global(.__wab_flex-container) > *,
.footer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footer > :global(.__wab_flex-container) > picture > img,
.footer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__rm34L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.freeBox__rm34L > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__rm34L > :global(.__wab_flex-container) > *,
.freeBox__rm34L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rm34L > :global(.__wab_flex-container) > picture > img,
.freeBox__rm34L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__e4W3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  text-align: center;
  min-width: 0;
}
.text__i4SZi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  min-width: 0;
}
