.plasmic_tokens {
  --token-dw1v3H2JyPtYY: var(--antd-colorPrimary);
  --plasmic-token-system-primary: var(--token-dw1v3H2JyPtYY);
  --token-xZDcX2ZndZttb: var(--antd-colorSuccess);
  --plasmic-token-system-success: var(--token-xZDcX2ZndZttb);
  --token-itDaIA1BTx5wx: var(--antd-colorWarning);
  --plasmic-token-system-warning: var(--token-itDaIA1BTx5wx);
  --token-OxE8kEVm_EX7d: var(--antd-colorError);
  --plasmic-token-system-error: var(--token-OxE8kEVm_EX7d);
  --token-j0qAHwPjLGYsD: var(--antd-colorInfo);
  --plasmic-token-system-info: var(--token-j0qAHwPjLGYsD);
  --token-zwVeCjlMELl-s: var(--antd-colorText);
  --plasmic-token-system-text: var(--token-zwVeCjlMELl-s);
  --token-0djToGkzwE2P3: var(--antd-colorTextSecondary);
  --plasmic-token-system-text-secondary: var(--token-0djToGkzwE2P3);
  --token-_5y3cjdX2fFkB: var(--antd-colorTextTertiary);
  --plasmic-token-system-text-tertiary: var(--token-_5y3cjdX2fFkB);
  --token-1tNdfca5TpE2i: var(--antd-colorTextQuaternary);
  --plasmic-token-system-text-quaternary: var(--token-1tNdfca5TpE2i);
  --token-5ikz-UivD3col: var(--antd-colorBorder);
  --plasmic-token-system-border: var(--token-5ikz-UivD3col);
  --token-0wy-9r2r8hQND: var(--antd-colorBorderSecondary);
  --plasmic-token-system-border-secondary: var(--token-0wy-9r2r8hQND);
  --token-Zr6t5Anz491oh: var(--antd-colorFill);
  --plasmic-token-system-fill: var(--token-Zr6t5Anz491oh);
  --token-lxSoY3RN6XpPO: var(--antd-colorFillSecondary);
  --plasmic-token-system-fill-secondary: var(--token-lxSoY3RN6XpPO);
  --token-EoVy-mo3qzXu1: var(--antd-colorFillTertiary);
  --plasmic-token-system-fill-tertiary: var(--token-EoVy-mo3qzXu1);
  --token-pSYXxGzLzXo8p: var(--antd-colorFillQuaternary);
  --plasmic-token-system-fill-quaternary: var(--token-pSYXxGzLzXo8p);
  --token-6QiY75-vTKksI: var(--antd-colorBgLayout);
  --plasmic-token-system-bg-layout: var(--token-6QiY75-vTKksI);
  --token-e1bqHm9L8HMYy: var(--antd-colorBgContainer);
  --plasmic-token-system-bg-container: var(--token-e1bqHm9L8HMYy);
  --token-DXHO5fR4wYxGg: var(--antd-colorBgElevated);
  --plasmic-token-system-bg-elevated: var(--token-DXHO5fR4wYxGg);
  --token-pu6sFFAC0QnIt: var(--antd-colorBgSpotlight);
  --plasmic-token-system-bg-spotlight: var(--token-pu6sFFAC0QnIt);
  --token-8vM9oq1KG4o42: var(--antd-colorPrimaryBg);
  --plasmic-token-system-primary-bg: var(--token-8vM9oq1KG4o42);
  --token-yAFZX7EbOxVhr: var(--antd-colorPrimaryBgHover);
  --plasmic-token-system-primary-bg-hover: var(--token-yAFZX7EbOxVhr);
  --token-y4eTAMkP2u433: var(--antd-colorPrimaryBorder);
  --plasmic-token-system-primary-border: var(--token-y4eTAMkP2u433);
  --token-B9tZ0EFWAilwM: var(--antd-colorPrimaryBorderHover);
  --plasmic-token-system-primary-border-hover: var(--token-B9tZ0EFWAilwM);
  --token-IEMwQJc7fIXsb: var(--antd-colorPrimaryHover);
  --plasmic-token-system-primary-hover: var(--token-IEMwQJc7fIXsb);
  --token-MBm9eTurPlD76: var(--antd-colorPrimaryActive);
  --plasmic-token-system-primary-active: var(--token-MBm9eTurPlD76);
  --token-O5EJuQbHa675z: var(--antd-colorPrimaryTextHover);
  --plasmic-token-system-primary-text-hover: var(--token-O5EJuQbHa675z);
  --token-meakMGBCdw0YZ: var(--antd-colorPrimaryText);
  --plasmic-token-system-primary-text: var(--token-meakMGBCdw0YZ);
  --token-67RJnC-SMIKGT: var(--antd-colorPrimaryTextActive);
  --plasmic-token-system-primary-text-active: var(--token-67RJnC-SMIKGT);
  --token-HnAzRSQn6iryI: var(--antd-colorSuccessBg);
  --plasmic-token-system-success-bg: var(--token-HnAzRSQn6iryI);
  --token-yhPTcz1Lnb675: var(--antd-colorSuccessBgHover);
  --plasmic-token-system-success-bg-hover: var(--token-yhPTcz1Lnb675);
  --token-RoTITIB3T2ef3: var(--antd-colorSuccessBorder);
  --plasmic-token-system-success-border: var(--token-RoTITIB3T2ef3);
  --token-N_4-pL0IfPjYg: var(--antd-colorSuccessBorderHover);
  --plasmic-token-system-success-border-hover: var(--token-N_4-pL0IfPjYg);
  --token-qkJhW9lmTdqaJ: var(--antd-colorSuccessHover);
  --plasmic-token-system-success-hover: var(--token-qkJhW9lmTdqaJ);
  --token-nCmeQmPUn8RiU: var(--antd-colorSuccessActive);
  --plasmic-token-system-success-active: var(--token-nCmeQmPUn8RiU);
  --token-LzHQQgnABdGzy: var(--antd-colorSuccessTextHover);
  --plasmic-token-system-success-text-hover: var(--token-LzHQQgnABdGzy);
  --token-pSwDEX1_BO7aI: var(--antd-colorSuccessText);
  --plasmic-token-system-success-text: var(--token-pSwDEX1_BO7aI);
  --token-JxvOWEtoKfSUm: var(--antd-colorSuccessTextActive);
  --plasmic-token-system-success-text-active: var(--token-JxvOWEtoKfSUm);
  --token-vZEQymdBo_be1: var(--antd-colorWarningBg);
  --plasmic-token-system-warning-bg: var(--token-vZEQymdBo_be1);
  --token-kGdD1yQR_FN56: var(--antd-colorWarningBgHover);
  --plasmic-token-system-warning-bg-hover: var(--token-kGdD1yQR_FN56);
  --token-fBWOfrFeHji3z: var(--antd-colorWarningBorder);
  --plasmic-token-system-warning-border: var(--token-fBWOfrFeHji3z);
  --token-QvvRqT8xqzM-E: var(--antd-colorWarningBorderHover);
  --plasmic-token-system-warning-border-hover: var(--token-QvvRqT8xqzM-E);
  --token-38Yxd4m_S24rP: var(--antd-colorWarningHover);
  --plasmic-token-system-warning-hover: var(--token-38Yxd4m_S24rP);
  --token-RcKThpNRDVhuy: var(--antd-colorWarningActive);
  --plasmic-token-system-warning-active: var(--token-RcKThpNRDVhuy);
  --token-hb4C8qAqSS61u: var(--antd-colorWarningTextHover);
  --plasmic-token-system-warning-text-hover: var(--token-hb4C8qAqSS61u);
  --token-W_n1EM5jxZzqr: var(--antd-colorWarningText);
  --plasmic-token-system-warning-text: var(--token-W_n1EM5jxZzqr);
  --token-NuZkP6RLM8F6N: var(--antd-colorWarningTextActive);
  --plasmic-token-system-warning-text-active: var(--token-NuZkP6RLM8F6N);
  --token-bJOJn0gti7IMc: var(--antd-colorInfoBg);
  --plasmic-token-system-info-bg: var(--token-bJOJn0gti7IMc);
  --token-xNrkFThsPUu_f: var(--antd-colorInfoBgHover);
  --plasmic-token-system-info-bg-hover: var(--token-xNrkFThsPUu_f);
  --token-bDQIpP6iBQvBG: var(--antd-colorInfoBorder);
  --plasmic-token-system-info-border: var(--token-bDQIpP6iBQvBG);
  --token-0flUUXc2MVy_W: var(--antd-colorInfoBorderHover);
  --plasmic-token-system-info-border-hover: var(--token-0flUUXc2MVy_W);
  --token-8k0NIJmdvKmor: var(--antd-colorInfoHover);
  --plasmic-token-system-info-hover: var(--token-8k0NIJmdvKmor);
  --token-2LJ6dzXNtK7zS: var(--antd-colorInfoActive);
  --plasmic-token-system-info-active: var(--token-2LJ6dzXNtK7zS);
  --token-zykjpGqWboh01: var(--antd-colorInfoTextHover);
  --plasmic-token-system-info-text-hover: var(--token-zykjpGqWboh01);
  --token-GUljYLc1vVEEP: var(--antd-colorInfoText);
  --plasmic-token-system-info-text: var(--token-GUljYLc1vVEEP);
  --token-M-WfWf00b9rfJ: var(--antd-colorInfoTextActive);
  --plasmic-token-system-info-text-active: var(--token-M-WfWf00b9rfJ);
  --token-Alq6pAJ2y1j6A: var(--antd-colorErrorBg);
  --plasmic-token-system-error-bg: var(--token-Alq6pAJ2y1j6A);
  --token-jYLesD9S_3lXd: var(--antd-colorErrorBgHover);
  --plasmic-token-system-error-bg-hover: var(--token-jYLesD9S_3lXd);
  --token-D_PEe7i-jOovQ: var(--antd-colorErrorBorder);
  --plasmic-token-system-error-border: var(--token-D_PEe7i-jOovQ);
  --token-pFz4EzAtpTtha: var(--antd-colorErrorBorderHover);
  --plasmic-token-system-error-border-hover: var(--token-pFz4EzAtpTtha);
  --token-zpaFCc9q2dTpi: var(--antd-colorErrorHover);
  --plasmic-token-system-error-hover: var(--token-zpaFCc9q2dTpi);
  --token-dk7HSKTu4zHLu: var(--antd-colorErrorActive);
  --plasmic-token-system-error-active: var(--token-dk7HSKTu4zHLu);
  --token-lOzaoFdM2xqRd: var(--antd-colorErrorTextHover);
  --plasmic-token-system-error-text-hover: var(--token-lOzaoFdM2xqRd);
  --token-7Phm9iqqqwSg8: var(--antd-colorErrorText);
  --plasmic-token-system-error-text: var(--token-7Phm9iqqqwSg8);
  --token-dyJTOw0QbMMe0: var(--antd-colorErrorTextActive);
  --plasmic-token-system-error-text-active: var(--token-dyJTOw0QbMMe0);
  --token-PHu8PQ3shfQnj: var(--antd-colorWhite);
  --plasmic-token-system-white: var(--token-PHu8PQ3shfQnj);
  --token-qMiLBauRdZIwR: var(--antd-colorBgMask);
  --plasmic-token-system-bg-mask: var(--token-qMiLBauRdZIwR);
  --token-kQtp1WMP6_ii2: var(--antd-colorIcon);
  --plasmic-token-system-icon: var(--token-kQtp1WMP6_ii2);
  --token-rWfBFdBQAcQxF: var(--antd-colorIconHover);
  --plasmic-token-system-icon-hover: var(--token-rWfBFdBQAcQxF);
  --token-gn2LKcmO2WG7A: var(--antd-colorLink);
  --plasmic-token-system-link: var(--token-gn2LKcmO2WG7A);
  --token-wcNXhUL8RASE8: var(--antd-colorLinkHover);
  --plasmic-token-system-link-hover: var(--token-wcNXhUL8RASE8);
  --token-gmRtwBJ_xywjv: var(--antd-paddingXXS);
  --plasmic-token-system-padding-xxs: var(--token-gmRtwBJ_xywjv);
  --token-OgHdDJGeUm4Dm: var(--antd-paddingXS);
  --plasmic-token-system-padding-xs: var(--token-OgHdDJGeUm4Dm);
  --token-pGa43iWqQrYiV: var(--antd-paddingSM);
  --plasmic-token-system-padding-sm: var(--token-pGa43iWqQrYiV);
  --token-SoRPKt_3S3w2y: var(--antd-padding);
  --plasmic-token-system-padding-m: var(--token-SoRPKt_3S3w2y);
  --token-lc-Qx8WUaqs1O: var(--antd-paddingMD);
  --plasmic-token-system-padding-md: var(--token-lc-Qx8WUaqs1O);
  --token-sSBWTi9NxJg3Z: var(--antd-paddingLG);
  --plasmic-token-system-padding-lg: var(--token-sSBWTi9NxJg3Z);
  --token-ANnYWPBbPO_DQ: var(--antd-paddingXL);
  --plasmic-token-system-padding-xl: var(--token-ANnYWPBbPO_DQ);
  --token-a9JeOFaRwXPYv: var(--antd-marginXXS);
  --plasmic-token-system-margin-xxs: var(--token-a9JeOFaRwXPYv);
  --token-9zi3DETxc-MAs: var(--antd-marginXS);
  --plasmic-token-system-margin-xs: var(--token-9zi3DETxc-MAs);
  --token-rZ6pZYXJMs1DT: var(--antd-marginSM);
  --plasmic-token-system-margin-sm: var(--token-rZ6pZYXJMs1DT);
  --token-TEGOtnyRPmr6W: var(--antd-margin);
  --plasmic-token-system-margin-m: var(--token-TEGOtnyRPmr6W);
  --token-rIEIETnVrjMJK: var(--antd-marginMD);
  --plasmic-token-system-margin-md: var(--token-rIEIETnVrjMJK);
  --token-OyJ50s64EyGsK: var(--antd-marginLG);
  --plasmic-token-system-margin-lg: var(--token-OyJ50s64EyGsK);
  --token-PhXk15XYcgg-b: var(--antd-marginXL);
  --plasmic-token-system-margin-xl: var(--token-PhXk15XYcgg-b);
  --token-0cz5dQhchVIZe: var(--antd-marginXXL);
  --plasmic-token-system-margin-xxl: var(--token-0cz5dQhchVIZe);
  --token-vsUy-lPz0bxS6: var(--antd-fontSize);
  --plasmic-token-system-m: var(--token-vsUy-lPz0bxS6);
  --token-7Ml3HiWDF_ASE: var(--antd-fontSizeSM);
  --plasmic-token-system-sm: var(--token-7Ml3HiWDF_ASE);
  --token-8b-ZSt7TQ07VW: var(--antd-fontSizeLG);
  --plasmic-token-system-lg: var(--token-8b-ZSt7TQ07VW);
  --token-UWIg0WJBhEH7k: var(--antd-fontSizeXL);
  --plasmic-token-system-xl: var(--token-UWIg0WJBhEH7k);
  --token-kf8Qk_pE9O44S: var(--antd-fontSizeHeading1);
  --plasmic-token-system-heading-1: var(--token-kf8Qk_pE9O44S);
  --token-rrVwzxOmXnrTW: var(--antd-fontSizeHeading2);
  --plasmic-token-system-heading-2: var(--token-rrVwzxOmXnrTW);
  --token-yMB0K20vnRz3q: var(--antd-fontSizeHeading3);
  --plasmic-token-system-heading-3: var(--token-yMB0K20vnRz3q);
  --token-MOFz_z0Kem6Rn: var(--antd-fontSizeHeading4);
  --plasmic-token-system-heading-4: var(--token-MOFz_z0Kem6Rn);
  --token-_r1xtEcEDyZVI: var(--antd-fontSizeHeading5);
  --plasmic-token-system-heading-5: var(--token-_r1xtEcEDyZVI);
  --token-uCfkVvhF_O4io: var(--antd-lineHeight);
  --plasmic-token-system-m: var(--token-uCfkVvhF_O4io);
  --token-UoHrJBHenqJi3: var(--antd-lineHeightLG);
  --plasmic-token-system-lg: var(--token-UoHrJBHenqJi3);
  --token-c3emKJiuNmgG4: var(--antd-lineHeightSM);
  --plasmic-token-system-sm: var(--token-c3emKJiuNmgG4);
  --token-0BChuK8tbvYyN: var(--antd-lineHeightHeading1);
  --plasmic-token-system-heading-1: var(--token-0BChuK8tbvYyN);
  --token-qhnvymZm1Hme6: var(--antd-lineHeightHeading2);
  --plasmic-token-system-heading-2: var(--token-qhnvymZm1Hme6);
  --token-ZLDjML_eX11R9: var(--antd-lineHeightHeading3);
  --plasmic-token-system-heading-3: var(--token-ZLDjML_eX11R9);
  --token-eYfibVTpU0w7s: var(--antd-lineHeightHeading4);
  --plasmic-token-system-heading-4: var(--token-eYfibVTpU0w7s);
  --token-beMmh9I3I3wT9: var(--antd-lineHeightHeading5);
  --plasmic-token-system-heading-5: var(--token-beMmh9I3I3wT9);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
}
