.plasmic_tokens {
  --token-wCR-4xe5C2f_: var(--antd-colorPrimary);
  --plasmic-token-system-primary: var(--token-wCR-4xe5C2f_);
  --token-9gk6gJjKHUx2: var(--antd-colorSuccess);
  --plasmic-token-system-success: var(--token-9gk6gJjKHUx2);
  --token-kZNZeZ_pKjgH: var(--antd-colorWarning);
  --plasmic-token-system-warning: var(--token-kZNZeZ_pKjgH);
  --token-f1fYyG8b4yqd: var(--antd-colorError);
  --plasmic-token-system-error: var(--token-f1fYyG8b4yqd);
  --token-6TpS4McRvHwP: var(--antd-colorInfo);
  --plasmic-token-system-info: var(--token-6TpS4McRvHwP);
  --token-d-Fe2-mIIV4F: var(--antd-colorText);
  --plasmic-token-system-text: var(--token-d-Fe2-mIIV4F);
  --token-d70cJglKGLeQ: var(--antd-colorTextSecondary);
  --plasmic-token-system-text-secondary: var(--token-d70cJglKGLeQ);
  --token-rWjezSVaRftW: var(--antd-colorTextTertiary);
  --plasmic-token-system-text-tertiary: var(--token-rWjezSVaRftW);
  --token-6y34o_weXrmV: var(--antd-colorTextQuaternary);
  --plasmic-token-system-text-quaternary: var(--token-6y34o_weXrmV);
  --token-KQfyO_5n-UEI: var(--antd-colorBorder);
  --plasmic-token-system-border: var(--token-KQfyO_5n-UEI);
  --token-piS0CbWsxhE4: var(--antd-colorBorderSecondary);
  --plasmic-token-system-border-secondary: var(--token-piS0CbWsxhE4);
  --token-TkdzIcRKQqOQ: var(--antd-colorFill);
  --plasmic-token-system-fill: var(--token-TkdzIcRKQqOQ);
  --token-ArjkZtw_f451: var(--antd-colorFillSecondary);
  --plasmic-token-system-fill-secondary: var(--token-ArjkZtw_f451);
  --token-N_KXbdV9_guF: var(--antd-colorFillTertiary);
  --plasmic-token-system-fill-tertiary: var(--token-N_KXbdV9_guF);
  --token-fyr1PiKqE2Dl: var(--antd-colorFillQuaternary);
  --plasmic-token-system-fill-quaternary: var(--token-fyr1PiKqE2Dl);
  --token-Gay0pZknqwfE: var(--antd-colorBgLayout);
  --plasmic-token-system-bg-layout: var(--token-Gay0pZknqwfE);
  --token-lOPnxaRG9EJU: var(--antd-colorBgContainer);
  --plasmic-token-system-bg-container: var(--token-lOPnxaRG9EJU);
  --token-wppcHQ7XnZJD: var(--antd-colorBgElevated);
  --plasmic-token-system-bg-elevated: var(--token-wppcHQ7XnZJD);
  --token-e3rIWStc2cLk: var(--antd-colorBgSpotlight);
  --plasmic-token-system-bg-spotlight: var(--token-e3rIWStc2cLk);
  --token-2pQWQR83ZrPN: var(--antd-colorPrimaryBg);
  --plasmic-token-system-primary-bg: var(--token-2pQWQR83ZrPN);
  --token-vr3r3U8ab_IM: var(--antd-colorPrimaryBgHover);
  --plasmic-token-system-primary-bg-hover: var(--token-vr3r3U8ab_IM);
  --token-RsZ-M7vZ6wtj: var(--antd-colorPrimaryBorder);
  --plasmic-token-system-primary-border: var(--token-RsZ-M7vZ6wtj);
  --token-gpfzuIlDy75A: var(--antd-colorPrimaryBorderHover);
  --plasmic-token-system-primary-border-hover: var(--token-gpfzuIlDy75A);
  --token-zU3OXNNw3xOl: var(--antd-colorPrimaryHover);
  --plasmic-token-system-primary-hover: var(--token-zU3OXNNw3xOl);
  --token-UKNeuCvof_do: var(--antd-colorPrimaryActive);
  --plasmic-token-system-primary-active: var(--token-UKNeuCvof_do);
  --token-7y6S13EVe1yj: var(--antd-colorPrimaryTextHover);
  --plasmic-token-system-primary-text-hover: var(--token-7y6S13EVe1yj);
  --token-hD72ki11c3Fw: var(--antd-colorPrimaryText);
  --plasmic-token-system-primary-text: var(--token-hD72ki11c3Fw);
  --token-PN3N41Tl_gCZ: var(--antd-colorPrimaryTextActive);
  --plasmic-token-system-primary-text-active: var(--token-PN3N41Tl_gCZ);
  --token-auA0_c5H8n2X: var(--antd-colorSuccessBg);
  --plasmic-token-system-success-bg: var(--token-auA0_c5H8n2X);
  --token-BTDyE-Z-J-DT: var(--antd-colorSuccessBgHover);
  --plasmic-token-system-success-bg-hover: var(--token-BTDyE-Z-J-DT);
  --token-SFwFQHXONIs3: var(--antd-colorSuccessBorder);
  --plasmic-token-system-success-border: var(--token-SFwFQHXONIs3);
  --token-7XmdUZduinp-: var(--antd-colorSuccessBorderHover);
  --plasmic-token-system-success-border-hover: var(--token-7XmdUZduinp-);
  --token-8n1YwLGi_2RI: var(--antd-colorSuccessHover);
  --plasmic-token-system-success-hover: var(--token-8n1YwLGi_2RI);
  --token-3E5LJIPucAXK: var(--antd-colorSuccessActive);
  --plasmic-token-system-success-active: var(--token-3E5LJIPucAXK);
  --token-tJmCBrSEnQZP: var(--antd-colorSuccessTextHover);
  --plasmic-token-system-success-text-hover: var(--token-tJmCBrSEnQZP);
  --token-FNlwmC_9jwMP: var(--antd-colorSuccessText);
  --plasmic-token-system-success-text: var(--token-FNlwmC_9jwMP);
  --token-Ozn5BGVx865S: var(--antd-colorSuccessTextActive);
  --plasmic-token-system-success-text-active: var(--token-Ozn5BGVx865S);
  --token-j24vKNkeIN5Q: var(--antd-colorWarningBg);
  --plasmic-token-system-warning-bg: var(--token-j24vKNkeIN5Q);
  --token-_soFKRNdPodS: var(--antd-colorWarningBgHover);
  --plasmic-token-system-warning-bg-hover: var(--token-_soFKRNdPodS);
  --token-e3sqM2vhWTUC: var(--antd-colorWarningBorder);
  --plasmic-token-system-warning-border: var(--token-e3sqM2vhWTUC);
  --token-fKl5_Ge_6MG2: var(--antd-colorWarningBorderHover);
  --plasmic-token-system-warning-border-hover: var(--token-fKl5_Ge_6MG2);
  --token-Pbbvx4-NLZpC: var(--antd-colorWarningHover);
  --plasmic-token-system-warning-hover: var(--token-Pbbvx4-NLZpC);
  --token-4jEJMyCSxuDH: var(--antd-colorWarningActive);
  --plasmic-token-system-warning-active: var(--token-4jEJMyCSxuDH);
  --token-Q9hckd_PncFt: var(--antd-colorWarningTextHover);
  --plasmic-token-system-warning-text-hover: var(--token-Q9hckd_PncFt);
  --token-GMCYX-dFHEaD: var(--antd-colorWarningText);
  --plasmic-token-system-warning-text: var(--token-GMCYX-dFHEaD);
  --token-WiynoIMPscla: var(--antd-colorWarningTextActive);
  --plasmic-token-system-warning-text-active: var(--token-WiynoIMPscla);
  --token-9ABwCu9ZxkGx: var(--antd-colorInfoBg);
  --plasmic-token-system-info-bg: var(--token-9ABwCu9ZxkGx);
  --token-Lf2mK7EEy-Vb: var(--antd-colorInfoBgHover);
  --plasmic-token-system-info-bg-hover: var(--token-Lf2mK7EEy-Vb);
  --token-rjesbfeW4stU: var(--antd-colorInfoBorder);
  --plasmic-token-system-info-border: var(--token-rjesbfeW4stU);
  --token-dn_KxlExZgyZ: var(--antd-colorInfoBorderHover);
  --plasmic-token-system-info-border-hover: var(--token-dn_KxlExZgyZ);
  --token-ILJnz6ipvD3Y: var(--antd-colorInfoHover);
  --plasmic-token-system-info-hover: var(--token-ILJnz6ipvD3Y);
  --token-5Wv1H3w1m7q_: var(--antd-colorInfoActive);
  --plasmic-token-system-info-active: var(--token-5Wv1H3w1m7q_);
  --token-sTUrlbRtvWwb: var(--antd-colorInfoTextHover);
  --plasmic-token-system-info-text-hover: var(--token-sTUrlbRtvWwb);
  --token-aQO-FUZxUlbD: var(--antd-colorInfoText);
  --plasmic-token-system-info-text: var(--token-aQO-FUZxUlbD);
  --token-LdohKZr_-TM3: var(--antd-colorInfoTextActive);
  --plasmic-token-system-info-text-active: var(--token-LdohKZr_-TM3);
  --token-PBZmxS9dau4C: var(--antd-colorErrorBg);
  --plasmic-token-system-error-bg: var(--token-PBZmxS9dau4C);
  --token-XGc8BYTrJg0R: var(--antd-colorErrorBgHover);
  --plasmic-token-system-error-bg-hover: var(--token-XGc8BYTrJg0R);
  --token-Qph6KrauS6TZ: var(--antd-colorErrorBorder);
  --plasmic-token-system-error-border: var(--token-Qph6KrauS6TZ);
  --token-13SZWcuw2EIX: var(--antd-colorErrorBorderHover);
  --plasmic-token-system-error-border-hover: var(--token-13SZWcuw2EIX);
  --token-TDy-p0Pg6kMK: var(--antd-colorErrorHover);
  --plasmic-token-system-error-hover: var(--token-TDy-p0Pg6kMK);
  --token-5Ke7dHiKHn87: var(--antd-colorErrorActive);
  --plasmic-token-system-error-active: var(--token-5Ke7dHiKHn87);
  --token-FkvulSKt_LY0: var(--antd-colorErrorTextHover);
  --plasmic-token-system-error-text-hover: var(--token-FkvulSKt_LY0);
  --token-PeGSc_HnZrfm: var(--antd-colorErrorText);
  --plasmic-token-system-error-text: var(--token-PeGSc_HnZrfm);
  --token-z3uBPJOzLeco: var(--antd-colorErrorTextActive);
  --plasmic-token-system-error-text-active: var(--token-z3uBPJOzLeco);
  --token-Ar7YNuREI6ve: var(--antd-colorWhite);
  --plasmic-token-system-white: var(--token-Ar7YNuREI6ve);
  --token-t21Jny0O-F_t: var(--antd-colorBgMask);
  --plasmic-token-system-bg-mask: var(--token-t21Jny0O-F_t);
  --token-ROp6-f4TshSo: var(--antd-colorIcon);
  --plasmic-token-system-icon: var(--token-ROp6-f4TshSo);
  --token-8qk2dJ9WW0ZC: var(--antd-colorIconHover);
  --plasmic-token-system-icon-hover: var(--token-8qk2dJ9WW0ZC);
  --token-hxXRP3-X6aXM: var(--antd-colorLink);
  --plasmic-token-system-link: var(--token-hxXRP3-X6aXM);
  --token-rcfuBmdaqGJ7: var(--antd-colorLinkHover);
  --plasmic-token-system-link-hover: var(--token-rcfuBmdaqGJ7);
  --token-r0QhCxrIHNQy: var(--antd-paddingXXS);
  --plasmic-token-system-padding-xxs: var(--token-r0QhCxrIHNQy);
  --token-uJPjuzK8FPwL: var(--antd-paddingXS);
  --plasmic-token-system-padding-xs: var(--token-uJPjuzK8FPwL);
  --token-_tdid3ZmfJRU: var(--antd-paddingSM);
  --plasmic-token-system-padding-sm: var(--token-_tdid3ZmfJRU);
  --token-q5BX733RybHA: var(--antd-padding);
  --plasmic-token-system-padding-m: var(--token-q5BX733RybHA);
  --token-Vpbk57rCPiJE: var(--antd-paddingMD);
  --plasmic-token-system-padding-md: var(--token-Vpbk57rCPiJE);
  --token-bD4lxKApUQdr: var(--antd-paddingLG);
  --plasmic-token-system-padding-lg: var(--token-bD4lxKApUQdr);
  --token-JpfICY2DvdI0: var(--antd-paddingXL);
  --plasmic-token-system-padding-xl: var(--token-JpfICY2DvdI0);
  --token-po30kfM-_5F5: var(--antd-marginXXS);
  --plasmic-token-system-margin-xxs: var(--token-po30kfM-_5F5);
  --token-rx9DOuDGqV5l: var(--antd-marginXS);
  --plasmic-token-system-margin-xs: var(--token-rx9DOuDGqV5l);
  --token-vWBTSIreS8K3: var(--antd-marginSM);
  --plasmic-token-system-margin-sm: var(--token-vWBTSIreS8K3);
  --token-t922lURH_H_M: var(--antd-margin);
  --plasmic-token-system-margin-m: var(--token-t922lURH_H_M);
  --token-a_jOjCNm9jAl: var(--antd-marginMD);
  --plasmic-token-system-margin-md: var(--token-a_jOjCNm9jAl);
  --token-0khwWWyC8X4Z: var(--antd-marginLG);
  --plasmic-token-system-margin-lg: var(--token-0khwWWyC8X4Z);
  --token-zhcU6Bo3CF6W: var(--antd-marginXL);
  --plasmic-token-system-margin-xl: var(--token-zhcU6Bo3CF6W);
  --token-MudDuyrhDwxQ: var(--antd-marginXXL);
  --plasmic-token-system-margin-xxl: var(--token-MudDuyrhDwxQ);
  --token-1biku1XW-yyp: var(--antd-fontSize);
  --plasmic-token-system-m: var(--token-1biku1XW-yyp);
  --token-ZNot4Jh7F-bn: var(--antd-fontSizeSM);
  --plasmic-token-system-sm: var(--token-ZNot4Jh7F-bn);
  --token-lugIHA9zO5GA: var(--antd-fontSizeLG);
  --plasmic-token-system-lg: var(--token-lugIHA9zO5GA);
  --token-wxxaFpXJQUt_: var(--antd-fontSizeXL);
  --plasmic-token-system-xl: var(--token-wxxaFpXJQUt_);
  --token-AlWztw4jWF18: var(--antd-fontSizeHeading1);
  --plasmic-token-system-heading-1: var(--token-AlWztw4jWF18);
  --token-m_IaNHPMadIR: var(--antd-fontSizeHeading2);
  --plasmic-token-system-heading-2: var(--token-m_IaNHPMadIR);
  --token-SWGswzIKuIgH: var(--antd-fontSizeHeading3);
  --plasmic-token-system-heading-3: var(--token-SWGswzIKuIgH);
  --token--SPeeY-wT1up: var(--antd-fontSizeHeading4);
  --plasmic-token-system-heading-4: var(--token--SPeeY-wT1up);
  --token-_-kOjVKzIwqT: var(--antd-fontSizeHeading5);
  --plasmic-token-system-heading-5: var(--token-_-kOjVKzIwqT);
  --token-NMf4Hncwt-gY: var(--antd-lineHeight);
  --plasmic-token-system-m: var(--token-NMf4Hncwt-gY);
  --token-aKb26OnC6Z5J: var(--antd-lineHeightLG);
  --plasmic-token-system-lg: var(--token-aKb26OnC6Z5J);
  --token-R4rgxOBLyjfm: var(--antd-lineHeightSM);
  --plasmic-token-system-sm: var(--token-R4rgxOBLyjfm);
  --token-galjfIwVxlFk: var(--antd-lineHeightHeading1);
  --plasmic-token-system-heading-1: var(--token-galjfIwVxlFk);
  --token-kzHj2H2DKU4L: var(--antd-lineHeightHeading2);
  --plasmic-token-system-heading-2: var(--token-kzHj2H2DKU4L);
  --token-Yfm8aosPCqOE: var(--antd-lineHeightHeading3);
  --plasmic-token-system-heading-3: var(--token-Yfm8aosPCqOE);
  --token-qEtvgVffeJm2: var(--antd-lineHeightHeading4);
  --plasmic-token-system-heading-4: var(--token-qEtvgVffeJm2);
  --token-ULmNCvbUB2S4: var(--antd-lineHeightHeading5);
  --plasmic-token-system-heading-5: var(--token-ULmNCvbUB2S4);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
}
